.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;	
}

.icon-svg-account {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-instagram {
	font-size:(169.06/10)*1rem;
	width:(169.06/169.06)*1em;
}
.icon-svg-personal-cabinet {
	font-size:(311.541/10)*1rem;
	width:(311.541/311.541)*1em;
}
.icon-svg-right {
	font-size:(240.61/10)*1rem;
	width:(240.61/240.61)*1em;
}
.icon-svg-share {
	font-size:(84.803/10)*1rem;
	width:(85.342/84.803)*1em;
}
.icon-svg-vk {
	font-size:(548.36/10)*1rem;
	width:(548.36/548.36)*1em;
}
.icon-svg-youtube {
	font-size:(96.88/10)*1rem;
	width:(96.88/96.88)*1em;
}
