.restauran-menu {
    background-color: #161a1e;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #202428;
    font-family: $ubuntu;
    &__container {
        position: relative;
        z-index: 10;
    }
    &__content {
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 40%;
            background-color: #f7c707;
            z-index: 3;
        }
    }
    &__title {
        display: block;
        font-size: 38px;
        color: white;
        font-weight: 400;
        padding-bottom: 50px;
    }
    &__slider {
        .swiper-pagination {
            position: static;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 40px;
            &-bullet {
                background-color: transparent;
                width: 27px;
                height: 27px;
                border-radius: 50%;
                border: 1px solid transparent;
                position: relative;
                opacity: 1;
                transition-duration: 0.3s;
                margin: 0 6px;
                &:after {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: black;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &-active {
                    border-color: white;
                }
            }
        }
    }
}

.restauran-menu-art {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    &__line-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/line-left.png');
        background-repeat: repeat-y;
        background-position-x: left;
    }
    &__line-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/line-right.png');
        background-repeat: repeat-y;
        background-position-x: right;
    }
}

.menu-item {
    width: 100%;
    height: 450px;
    position: relative;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    font-family: $ubuntu;
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40%;
        z-index: 2;
        background: linear-gradient(0deg, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%);
    }
    &__frame {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__bottom {
        position: relative;
        z-index: 3;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 40px 35px;
    }
    &__name {
        font-size: 34px;
        color: #ffffff;
    }
    &__download {
        display: flex;
        align-items: center;
        color: white;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        &:hover {
            .menu-item__icon {
                background-color: #0f7f40;
            }
        }
    }
    &__icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #28c36b;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        transition-duration: 0.3s;
        svg {
            width: 14px;
            height: 14px;
            fill: white;
        }
    }
}

.contacts-restauran {
    padding-top: 70px;
    font-family: $ubuntu;
    &__content {
        display: flex;
        background-color: white;
    }
    &__map {
        width: 800px;
        height: 650px;
        background-color: #eee;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    &__data {
        width: calc(100% - 800px);
        padding-left: 40px;
        padding-top: 50px;
    }
    &__title {
        display: block;
        font-size: 38px;
        color: #0b0d13;
        padding-bottom: 30px;
        font-weight: 500;
    }
    &__subtitle {
        display: block;
        font-size: 14px;
        color: #7b7a79;
        padding-bottom: 12px;
    }
    &__value, &__address {
        display: block;
        font-size: 24px;
        color: #0b0d13;
    }
    &__value {
        padding-bottom: 8px;
    }
    &__address {
        padding-bottom: 40px;
    }
    &__group {
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
    }
    &__item {
        &:first-child {
            margin-right: 60px;
        }
    }
    &__number {
        font-size: 24px;
        color: #0b0d13;
        transition-duration: .3s;
        &:hover {
            color: #28c16c;
        }
    }
    &__socials {
        display: flex;
    }
    &__social {
        display: flex;
        color: #f52f7c;
        font-size: 24px;
        transition-duration: .3s;
        &:hover {
            color: #28c16c;
        }
        &:first-child {
            margin-right: 140px;
        }
    }
}

@media #{$sr-1500} {
    .menu-item {
        height: 360px;
    }
    .contacts-restauran {
        &__map {
            width: 620px;
            height: 550px;
        }
        &__data {
            width: calc(100% - 620px);
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 30px;
        }
        &__address, &__value, &__number, &__social {
            font-size: 22px;
        }
        &__title {
            padding-bottom: 40px;
        }
    }
}

@media #{$sr-1200} {
    .restauran-menu {
        padding-top: 50px;
        padding-bottom: 50px;
        &__slider {
            .swiper-pagination {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
        &__title {
            padding-bottom: 35px;
        }
    }
    .menu-item {
        height: 320px;
        &__bottom {
            padding: 0 25px 20px;
        }
        &__name {
            font-size: 30px;
        }
    }
    .contacts-restauran {
        padding-top: 50px;
        &__map {
            width: 520px;
            min-height: 100%;
            height: auto;
        }
        &__data {
            width: calc(100% - 520px);
            padding-bottom: 30px;
        }
        &__title {
            padding-bottom: 35px;
            font-size: 32px;
        }
        &__address,
        &__value,
        &__number {
            font-size: 20px;
        }
        &__social {
            font-size: 18px;
            &:first-child {
                margin-right: 50px;
            }
        }
        &__subtitle {
            padding-bottom: 8px;
        }
        &__address {
            padding-bottom: 30px;
        }
        &__group {
            display: block;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &__item {
            &:first-child {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
}

@media #{$sr-992} {
    .restauran-menu {
        padding-top: 30px;
        padding-bottom: 40px;
        &__title {
            font-size: 34px;
            padding-bottom: 30px;
        }
        &__slider {
            .swiper-pagination {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        &__content {
            &:after {
                height: 30%;
            }
        }
    }
    .menu-item {
        height: 450px;
    }
    .restauran-menu-art {
        display: none;
    }
    .contacts-restauran {
        &__content {
            flex-direction: column;
        }
        &__title {
            padding-bottom: 30px;
        }
        &__data {
            width: 100%;
            order: 1;
        }
        &__map {
            height: 420px;
            width: 100%;
            order: 2;
        }
        &__wrapper {
            display: flex;
            padding-bottom: 30px;
        }
        &__row {
            &:first-child {
                margin-right: 70px;
            }
        }
        &__group {
            padding-top: 0;
            padding-bottom: 0;
        }
        &__subtitle {
            padding-bottom: 10px;
        }
        &__social {
            font-size: 20px;
        }
        &__address,
        &__value, 
        &__number {
            font-size: 22px;
        }
    }
}

@media #{$sr-768} {
    .menu-item {
        height: 345px;
    }
    .restauran-menu {
        &__title {
            font-size: 30px;
            padding-bottom: 20px;
        }
    }
    .contacts-restauran {
        &__title {
            font-size: 28px;
            padding-bottom: 25px;
        }
        &__wrapper {
            padding-bottom: 25px;
        }
        &__row {
            &:first-child {
                margin-right: 40px;
            }
        }
        &__address,
        &__value,
        &__number {
            font-size: 18px;
        }
        &__social {
            font-size: 18px;
        }
        &__map {
            height: 350px;
        }
    }
}

@media #{$sr-576} {
    .contacts-restauran {
        &__wrapper {
            display: block;
        }
        &__row {
            &:first-child {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
}

@media #{$sr-480} {
    .menu-item {
        height: 275px;
    }
}

@media #{$sr-380} {
    .menu-item {
        height: 240px;
        &__name {
            font-size: 26px;
        }
        &__bottom {
            padding: 0 15px 15px;
        }
        &__download {
            font-size: 15px;
        }
        &__icon {
            width: 40px;
            height: 40px;
            margin-right: 15px;
            svg {
                width: 12px;
                height: 12px;
            }
        }
    }
    .contacts-restauran {
        &__map {
            height: 300px;
        }
    }
}