.restaurants {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url('../img/line-left.png');
    background-repeat: repeat-y;
    background-position-x: left;
    height: w(950, 1920);
    &__container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__restaurants-data {
        font-family: $ubuntu;
        position: relative;
        z-index: 10;
        width: fit-content;
    }
    &__frame {
        display: block;
        width: 100%;
        height: w(950, 1920);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__slider {
        position: absolute;
        top: 0;
        right: 0;
        max-width: w(1300, 1920);
        .swiper-pagination {
            text-align: left;
            padding: 20px 30px;
            &-bullet {
                background-color: transparent;
                width: 27px;
                height: 27px;
                border-radius: 50%;
                border: 1px solid transparent;
                position: relative;
                opacity: 1;
                transition-duration: 0.3s;
                &:after {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: white;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &-active {
                    border-color: white;
                }
            }
        }
        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 6px;
        }
    }
    &__logotype {
        display: block;
    }
    &__title {
        display: block;
        font-size: 24px;
        color: #161a1e;
        padding-top: 30px;
        padding-bottom: 25px;
        font-weight: 400;
    }
    &__item {
        width: fit-content;
        line-height: 24px;
        &--business, 
        &--not-business {
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                right: -18px;
                transform: translateY(-50%);
            }
        }
        &--business {
            &:after {
                background-color: #30ca72;
            }
        }
        &--not-business {
            &:after {
                background-color: red;
            }
        }
    }
    &__subtitle {
        color: #7a7a85;
        font-size: 14px;
        &--block {
            display: block;
            padding-bottom: 10px;
        }
    }
    &__value {
        font-size: 14px;
        margin-left: 5px;
    }
    &__list {
        padding-bottom: 20px;
        margin-bottom: 25px;
        border-bottom: 1px solid #ceced2;
        width: fit-content;
        padding-right: 100px;
    }
    &__address {
        font-size: 24px;
        font-weight: 400;
        display: block;
        margin-bottom: 35px;
    }
    &__number {
        font-size: 22px;
        color: #161a1e;
        transition-duration: .3s;
        &:hover {
            color: #28c16c;
        }
    }
    &__btn {
        margin-top: 50px;
    }
}

@media #{$sr-1500} {
    .restaurants {
        height: 750px;
        &__frame {
            height: 750px;
        }
        &__slider {
            max-width: 900px;
        }
    }
}

@media #{$sr-1200} {
    .restaurants {
        height: 550px;
        &__logotype {
            width: 260px;
            img {
                width: 100%;
            }
        }
        &__frame {
            height: 550px;
        }
        &__slider {
            max-width: 700px;
            .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
                bottom: 0;
            }
        }
        &__title {
            font-size: 22px;
            padding-top: 25px;
            padding-bottom: 20px;
        }
        &__address {
            font-size: 20px;
            margin-bottom: 30px;
        }
        &__number {
            font-size: 20px;
        }
        &__list {
            padding-right: 50px;
        }
        &__btn {
            margin-top: 30px;
        }
    }
}

@media #{$sr-992} {
    .restaurants {
        background-image: none;
        height: auto;
        &__slider {
            position: static;
            width: 100%;
            max-width: 100%;
        }
        &__container {
            flex-direction: column;
        }
        &__content {
            display: flex;
        }
        &__logotype {
            margin-bottom: 40px;
        }
        &__restaurants-data {
            width: 100%;
            padding-top: 35px;
            padding-bottom: 30px;
        }
        &__frame {
            height: 450px;
        }
        &__title {
            padding-top: 0px;
            padding-bottom: 30px;
        }
        &__list {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0;
            padding-right: 0;
        }
        &__row {
            &:first-child {
                margin-right: 120px;
            }
        }
        &__item {
            line-height: 28px;
            &--business,
            &--not-business {
                &:after {
                    width: 6px;
                    height: 6px;
                }
            }
        }
        &__subtitle--block {
            padding-bottom: 0px;
            line-height: 24px;
        }
        &__address {
            margin-bottom: 15px;
            font-size: 18px;
        }
        &__number {
            font-size: 18px;
        }
        &__btn {
            margin-top: 40px;
        }
    }
}

@media #{$sr-768} {
    .restaurants {
        &__logotype {
            margin-bottom: 30px;
        }
        &__restaurants-data {
            padding-top: 30px;
        }
        &__title {
            padding-bottom: 20px;
        }
        &__row {
            &:first-child {
                margin-right: 60px;
            }
        }
        &__item {
            &--business,
            &--not-business {
                &:after {
                    right: -15px;
                }
            }
        }
        &__btn {
            margin-top: 25px;
        }
        &__frame {
            height: 390px;
        }
    }
}

@media #{$sr-576} {
    .restaurants {
        &__content {
            display: block;
        }
        &__row {
            &:first-child {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        &__item {
            line-height: 26px;
            &--business,
            &--not-business {
                &:after {
                    right: -20px;
                }
            }
        }
        &__list {
            padding-right: 100px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ceced2;
        }
        &__address {
            margin-bottom: 25px;
        }
        &__subtitle--block {
            line-height: 26px;
        }
    }
}

@media #{$sr-480} {
    .restaurants {
        &__frame {
            height: 310px;
        }
    }
}

@media #{$sr-380} {
    .restaurants {
        &__list {
            width: 100%;
            padding-right: 0;
        }
        &__frame {
            height: 255px;
        }
        &__slider {
            .swiper-pagination {
                padding: 10px 15px;
            }
        }
    }
}