.stories {
    background-color: #f5f5f5;
    padding-top: 70px;
    padding-bottom: 50px;
    font-family: $ubuntu;
    &__title {
        font-size: 38px;
        line-height: 44px;
        color: #161a1e;
        font-weight: 400;
        text-align: center;
        margin: 0 0 50px;
    }
    &__description {
        font-size: 16px;
        line-height: 22px;
        color: #7a7a85;
        text-align: center;
        padding-bottom: 20px;
        .bold {
            font-weight: 600;
        }
    }
    &__slider {
        padding: 40px 100px 0;
        .swiper-pagination {
            position: static;
            text-align: center;
            padding-top: 35px;
            &-bullet {
                background-color: transparent;
                width: 27px;
                height: 27px;
                border-radius: 50%;
                border: 1px solid transparent;
                position: relative;
                opacity: 1;
                transition-duration: 0.3s;
                margin: 0 6px;
                &:after {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: black;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &-active {
                    border-color: black;
                }
            }
        }
    }
}

.story {
    width: 100%;
    height: 306px;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    &__frame {
        display: flex;
        width: 100%;
        height: 200px;
        align-items: center;
        justify-content: center;
    }
    &__title {
        display: block;
        padding: 0 15px 10px;
        text-align: center;
        font-size: 21px;
        color: #161a1e;
        font-weight: 500;
    }
    &__subtitle {
        display: block;
        padding: 0 15px 0;
        text-align: center;
        font-size: 15px;
        color: #7a7a85;
    }
}

@media #{$sr-1500} {
    .story {
        height: 320px;
        &__frame {
            height: 220px;
        }
    }
}

@media #{$sr-1200} {
    .stories {
        padding-top: 50px;
        padding-bottom: 30px;
        &__title {
            font-size: 32px;
            line-height: 36px;
            margin: 0 0 35px;
        }
        &__description {
            br {
                display: none;
            }
        }
        &__slider {
            padding: 30px 60px 0;
            .swiper-pagination {
                padding-top: 25px;
            }
        }
    }
}

@media #{$sr-992} {
    .stories {
        padding-top: 40px;
        padding-bottom: 25px;
        &__title {
            font-size: 28px;
            line-height: 34px;
            margin: 0 0 25px;
            br {
                display: none;
            }
        }
        &__slider {
            padding: 20px 0px 0;
            .swiper-pagination {
                padding-top: 25px;
            }
        }
    }
    .story {
        height: 300px;
        &__frame {
            height: 200px;
        }
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 14px;
        }
    }
}

@media #{$sr-480} {
    .stories {
        &__slider {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
    .story {
        height: 330px;
        &__frame {
            height: 235px;
        }
    }
}

@media #{$sr-380} {
    .stories {
        &__title {
            font-size: 26px;
            line-height: 32px;
            margin: 0 0 20px;
        }
        &__slider {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 10px;
        }
        &__description {
            padding-bottom: 15px;
        }
    }
}