@media #{$sr-min-992} {
    .navbar {
        &__link {
            &:hover {
                color: $pink-dark;
            }
        }
    }
    .social {
        &__icon {
            transform: scale(1);
            transition-duration: 0.4s;
        }
        &__item {
            &:hover {
                .social__icon {
                    transform: scale(1.2);
                }
            }
        }
    }
    .personal-cabinet {
        width: fit-content;
        &__caption {
            transition-duration: 0.4s;
        }
        &:hover {
            .personal-cabinet {
                &__caption {
                    color: $pink-dark;
                }
            }
        }
    }
    .btn:not(.footer-subscription__btn) {
        transition-duration: 0.5s;
        &:hover {
            background-color: $yellow-light;
        }
    }
    .footer-subscription {
        &__btn {
            transition-duration: 0.5s;
            position: relative;
            left: 0;
            &:hover {
                left: -8px;
            }
        }
    }
    .footer {
        &__number {
            transition-duration: 0.4s;
            &:hover {
                color: $pink-dark;
            }
        }
        &__email {
            transition-duration: 0.4s;
            &:hover {
                color: #e6d077;
            }
        }
        &__link {
            position: relative;
            left: 0;
            &:hover {
                color: white;
                left: 5px;
            }
        }
    }
    .news-item {
        overflow: hidden;
        &__name {
            transition-duration: 0.4s;
        }
        &:hover {
            .news-item__name {
                color: #30ca72;
            }
        }
    }
    .works {
        &__name {
            transition-duration: 0.5s;
        }
        &__item {
            cursor: pointer;
            &:hover {
                .works__name {
                    color: $yellow-light;
                }
            }
        }
    }
    .restaurant-navbar {
        &__link {
            transition-duration: 0.4s;
            &:hover {
                color: $blue-darkest;
            }
        }
    }
    .card {
        overflow: hidden;
        &:hover {
            .card {
                &__body {
                    &:after {
                        opacity: 1;
                    }
                }
                &__title,
                &__value {
                    color: white;
                }
                &__name {
                    top: -8px;
                }
            }
        }
        &__body {
            position: relative;
            height: 100%;
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: #161a1e;
                transition-duration: 0.5s;
                opacity: 0;
            }
        }
        &__title,
        &__value {
            transition-duration: 0.4s;
            transition-delay: 0.15s;
        }
        &__name {
            position: relative;
            top: 0;
            transition-duration: 0.3s;
        }
        &__item {
            position: relative;
            z-index: 2;
        }
    }
    .btn-conditions {
        transition-duration: 0.5s;
        &:hover {
            letter-spacing: 1.5px;
        }
    }
    .guest-art {
        &__card {
            transform: translateX(-100%);
            transition-duration: 1.5s;
        }
    }
    .scroll-guest {
        .guest-art {
            &__card {
                transform: translateX(0%);
            }
        }
    }
}