.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grey-darken;
    font-family: $ubuntu;
    font-weight: 400;
    font-size: 14px;
    min-width: 236px;
    height: 55px;
    padding: 0 15px;
    border-radius: 55px;
    width: fit-content;
    border: none;
    background-color: white;
    &--yellow {
        background-color: $yellow-light;
    }
}

.btn-conditions {
    font-family: $ubuntu;
    color: $green;
    font-size: 15px;
    font-weight: 400;
}

@media #{$sr-1200} {
    .btn {
        min-width: 200px;
        height: 50px;
    }
}