.test-buttons {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.modal {
    display: none;
    z-index: 999;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    &__container {
        background-color: white;
        max-width: 415px;
        min-height: 100%;
        margin-left: auto;
        background-image: url('../img/modal-bg.jpg');
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 37px 54px 30px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        &--bottom {
            padding-bottom: 39px;
        }
    }
    &__message {
        color: black;
        font-size: 16px;
        font-family: $ubuntu;
        display: block;
        padding-top: 15px;
    }
    &__number {
        font-size: 24px;
        color: #f52f7c;
        font-family: $ubuntu;
    }
    &__title {
        font-family: $ubuntu;
        color: #1c2023;
        font-size: 38px;
        padding-bottom: 54px;
        display: block;
        &--bottom {
            padding-bottom: 30px;
        }
    }
    &__close {
        display: block;
        border-radius: 50%;
        min-width: 39px;
        width: 39px;
        height: 39px;
        background-color: #fac808;
        position: relative;
        cursor: pointer;
        &:after, &:before {
            content: '';
            display: block;
            width: 15px;
            height: 2px;
            background-color: black;
            position: absolute;
            left: 50%;
            top: 50%;
        }
        &:after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &__label {
        color: #7a7a85;
        font-family: $ubuntu;
        font-size: 21px;
        display: block;
        padding-bottom: 25px;
    }
    &__input {
        border: 1px solid rgba(0, 0, 0, .3);
        width: 100%;
        height: 54px;
        color: #000000;
        font-family: $ubuntu;
        font-size: 16px;
        padding-left: 22px;
        padding-right: 22px;
        margin-bottom: 20px;
        &--width {
            width: calc(100% - 60px);
        }
        &::placeholder {
            color: #000000;
            font-family: $ubuntu;
            font-size: 16px;
            opacity: 0.6;
        }
        &--view {
            margin-bottom: 15px;
            background-color: transparent;
            transition-duration: 0.4s;
            &:focus, &:hover {
                background-color: white;
                border: 1px solid #28c16c;
            }
        }
    }
    &__select {
        width: 100%;
        height: 54px;
        margin-bottom: 16px;
    }
    &__btn {
        min-width: 172px;
        height: 46px;
        border: 2px solid #fac808;
        margin-bottom: 30px;
    }
    &__info {
        color: #1c1f23;
        font-family: $ubuntu;
        font-size: 14px;
        line-height: 26px;
        padding-top: 14px;
        display: block;
    }
    &__group {
        border: 1px solid rgba(0, 0, 0, .3);
        display: flex;
        align-items: center;
        padding-right: 17px;
        margin-bottom: 20px;
        input {
            border: none;
            margin-bottom: 0;
        }
    }
    &__timer {
        width: 60px;
        font-size: 21px;
        font-family: $ubuntu;
        color: #27c26a;
    }
    &__select {
        visibility: hidden;
    }
    &__checkbox {
        display: none;
        &-group {
            margin-top: 4px;
            margin-bottom: 34px;
        }
        &:checked + .modal__check {
            svg {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    &__check {
        display: flex;
        cursor: pointer;
    }
    &__square {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 19px;
        width: 19px;
        height: 19px;
        border: 1px solid #aabcbd;
        background-color: #ffffff;
        margin-right: 14px;
        svg {
            width: 13px;
            height: 13px;
            fill: #f64b8d;
            opacity: 0;
            transition-duration: 0.3s;
            transform: scale(0);
        }
    }
    &__text {
        font-family: $ubuntu;
        font-size: 12px;
        color: #0b0d13;
        line-height: 18px;
        position: relative;
        top: -3px;
    }
}

.modal-list {
    margin-bottom: 36px;
    &--bottom {
        margin-bottom: 47px;
    }
    &--btn {
        margin-bottom: 0;
    }
    &__title {
        display: block;
        font-family: $ubuntu;
        color: #f52f7c;
        font-size: 24px;
        margin-bottom: 25px;
    }
    &__group {
        display: flex;
        line-height: 32px;
    }
    &__caption {
        color: #7a7a85;
        font-family: $ubuntu;
        font-size: 16px;
        margin-right: 10px;
    }
    &__value {
        color: black;
        font-family: $ubuntu;
        font-size: 16px;
        margin-right: 5px;
    }
    &__edit {
        color: #f52f7c;
        font-family: $ubuntu;
        font-size: 11px;
        position: relative;
        top: -7px;
    }
}

.select2-container {
    margin-bottom: 16px;
    outline: none;
    .select2-selection--single {
        height: 54px;
        border-radius: 0;
        outline: none;
    }
    &.select2-container--open {
        .select2-selection--single {
            background-color: white;
        }
        .select2-selection__arrow {
            b {
                transform: rotateX(180deg) rotateY(0);
            }
        }
    }
}

.select2-container--default {
    .select2-selection--single {
        background-color: transparent;
        transition-duration: 0.3s;
        &:hover {
            background-color: white;
        }
        .select2-selection__rendered {
            line-height: 54px;
            padding-right: 50px;
            padding-left: 22px;
            color: black;
            font-family: $ubuntu;
            font-size: 16px;
        }
        .select2-selection__arrow {
            width: 45px;
            height: 54px;
            b {
                width: 10px;
                height: 10px;
                border: none;
                background-image: url('../img/arrow-down.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                transition-duration: 0.4s;
            }
        }
        .select2-selection__placeholder {
            color: #7a7a85;
            font-family: $ubuntu;
            font-size: 16px;
        }
    }
    .select2-search--dropdown {
        .select2-search__field {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}

.select2-results__option {
    height: 35px;
    display: flex;
    align-items: center;
    font-family: $ubuntu;
    font-size: 16px;
    color: black;
    padding-left: 22px;
    padding-right: 22px;
    &.select2-results__message {
        font-size: 14px;
    }
}

.select2-search--dropdown {
    padding: 0;
    .select2-search__field {
        height: 35px;
        border: none;
        padding-left: 22px;
        padding-right: 22px;
        background-color: rgba(0, 0, 0, 0.03);
        font-size: 16px;
        color: black;
        font-family: $ubuntu;
    }
}

.modal--middle {
    $tpl: '.modal';
    background-color: rgba(0, 0, 0, .7);
    #{$tpl} {
        &__container {
            background-image: none;
            margin: auto;
            max-width: 745px;
            min-height: auto;
            border-radius: 10px;
            margin-top: 30px;
        }
        &__row {
            display: flex;
        }
        &__close {
            &--view-position {
                transform: translateX(50%);
            }
        }
        &__input {
            width: calc(100% - 32px);
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__btn {
            margin: 0 auto;
        }
        &__text {
            font-size: 14px;
            top: 0;
            user-select: none;
            font-weight: 600;
        }
        &__checkbox-group {
            margin-top: 20px;
        }
        &__check {
            justify-content: center;
        }
        &__body {
            &--scrollbar {
                height: 440px;
                .simplebar-track {
                    background-color: #fac808;
                    width: 6px;
                }
                .simplebar-scrollbar:before {
                    left: 0;
                    right: 0;
                    opacity: 1;
                    border-radius: 0;
                }
            }
        }
    }
}

.modal--smallmiddle {
    $tpl: '.modal';
    #{$tpl} {
        &__container {
            max-width: 550px;
        }
    }
}

.restaurant-item {
    margin-bottom: 55px;
    padding-right: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    &__title {
        font-size: 20px;
        display: block;
        padding-bottom: 18px;
        margin-bottom: 25px;
        border-bottom: 1px solid #e0dfdf;
    }
    &__subtitle {
        display: block;
        font-size: 14px;
        padding-bottom: 15px;
        color: #717171;
    }
    &__address {
        margin-bottom: 25px;
        display: block;
    }
    &__number {
        display: block;
        width: fit-content;
        color: black;
        transition-duration: 0.3s;
        &:hover {
            color: #28c16c;
        }
    }
}

.modal-file {
    margin-bottom: 30px;
    background-color: #f0f2f5;
    padding-top: 10px;
    padding-bottom: 25px;
    &__label {
        display: block;
        margin: 20px auto 10px;
        width: fit-content;
        text-transform: uppercase;
        cursor: pointer;
        color: #2450c9;
        font-weight: 600;
    }
    &__size {
        display: block;
        text-align: center;
        color: #777;
        .bold {
            color: black;
            font-weight: 600;
        }
    }
    &__hidden {
        display: none;
    }
}

@media #{$sr-992} {
    .modal {
        top: 60px;
    }
}

@media #{$sr-768} {
    .modal--middle {
        $tpl: '.modal';
        display: none;
        #{$tpl} {
            &__container {
                margin: 0;
                margin-left: auto;
                margin-right: auto;
                padding: 20px 15px;
                border-radius: 0;
            }
            &__row {
                display: block;
            }
            &__title {
                font-size: 32px;
                padding-bottom: 45px;
            }
            &__close {
                transform: translateX(0);
            }
            &__input {
                width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
    .modal-file {
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media #{$sr-576} {
    .modal {
        &__container {
            max-width: 100%;
            padding: 25px 20px;
        }
        &__header--bottom {
            padding-bottom: 25px;
        }
        &__title {
            font-size: 32px;
            padding-bottom: 25px;
        }
        &__input--view {
            margin-bottom: 10px;
        }
        &__checkbox-group {
            margin-bottom: 25px;
        }
        &__info {
            padding-top: 0;
        }
    }
    .modal-list--bottom {
        margin-bottom: 35px;
    }
}