.title {
    font-family: $ubuntu;
    font-size: 38px;
    line-height: 42px;
    font-weight: 400;
    &--dark {
        color: $blue-darkest;
    }
    &--white {
        color: white;
    }
}

@media #{$sr-576} {
    .title {
        font-size: 36px;
        line-height: 40px;
    }
}