<!--=include partials/header.html -->

<div class="test-buttons">
    <button class="js--open-bonuses">Модальное окно 1</button>
    <button class="js--open-registration">Модальное окно 2</button>
    <button class="js--open-data">Модальное окно 3</button>
    <button class="js--open-resume">Отправить резюме</button>
    <button class="js--open-reservation">Бронирование</button>
</div>

<div class="modal modal--middle modal--smallmiddle modal--reservation">
    <div class="modal__container">
        <div class="modal__header">
            <span class="modal__title">Бронирование</span>
            <span class="modal__close modal__close--view-position"></span>
        </div>
        <div class="modal__body modal__body--scrollbar js-init-scrollbar">
            <div class="restaurant-item">
                <span class="restaurant-item__title">Грузинськие истории</span>
                <span class="restaurant-item__subtitle">Набережные Челны</span>
                <span class="restaurant-item__address">ул. Шамиля Усманова, 56 А</span>
                <span class="restaurant-item__subtitle">Телефон</span>
                <a href="#" class="restaurant-item__number">8 (8552) 49 29 39</a>
            </div>
            <div class="restaurant-item">
                <span class="restaurant-item__title">Грузинськие истории</span>
                <span class="restaurant-item__subtitle">Набережные Челны</span>
                <span class="restaurant-item__address">ул. Шамиля Усманова, 56 А</span>
                <span class="restaurant-item__subtitle">Телефон</span>
                <a href="#" class="restaurant-item__number">8 (8552) 49 29 39</a>
            </div>
            <div class="restaurant-item">
                <span class="restaurant-item__title">Грузинськие истории</span>
                <span class="restaurant-item__subtitle">Набережные Челны</span>
                <span class="restaurant-item__address">ул. Шамиля Усманова, 56 А</span>
                <span class="restaurant-item__subtitle">Телефон</span>
                <a href="#" class="restaurant-item__number">8 (8552) 49 29 39</a>
            </div>
            <div class="restaurant-item">
                <span class="restaurant-item__title">Грузинськие истории</span>
                <span class="restaurant-item__subtitle">Набережные Челны</span>
                <span class="restaurant-item__address">ул. Шамиля Усманова, 56 А</span>
                <span class="restaurant-item__subtitle">Телефон</span>
                <a href="#" class="restaurant-item__number">8 (8552) 49 29 39</a>
            </div>
        </div>
    </div>
</div>

<div class="modal modal--middle modal--resume">
    <div class="modal__container">
        <div class="modal__header">
            <span class="modal__title">Отправить резюме</span>
            <span class="modal__close"></span>
        </div>
        <form action="#">
            <div class="modal__row">
                <input type="text" class="modal__input modal__input--view" placeholder="Имя">
                <input type="text" class="modal__input modal__input--view" placeholder="Фамилия">
            </div>
            <div class="modal__row">
                <input type="text" class="modal__input modal__input--view js--init-inputmask" placeholder="Телефон">
                <input type="text" class="modal__input modal__input--view" placeholder="Email">
            </div>
            <div class="modal__row">
                <input type="text" class="modal__input modal__input--view" placeholder="Вакансия">
                <input type="text" class="modal__input modal__input--view" placeholder="Город">
            </div>
            <div class="modal-file modal__modal-file">
                <label for="file-download" class="modal-file__label">прикрепить файл</label>
                <span class="modal-file__size"><span class="bold">Вы можете загрузить файл объемом не более 10 мб</span> (doc, pdf)</span>
                <input type="file" id="file-download" name="file-download" accept="application/msword, application/pdf" class="modal-file__hidden">
            </div>
            <div class="modal__checkbox-group">
                <input type="checkbox" name="resume-right" id="resume-right" class="modal__checkbox">
                <label for="resume-right" class="modal__check">
                    <span class="modal__square">
                        @@include('mixins/svg-icon.html', {"name": "right", "class": ""})
                    </span>
                    <span class="modal__text">Соглашаюсь с политикой в отношении обработки персональных данных</span>
                </label>
            </div>
            <button type="submit" class="btn modal__btn">Отправить</button>
        </form>
    </div>
</div>

<div class="modal modal--bonuses">
    <div class="modal__container">
        <div class="modal__header">
            <span class="modal__title">Бонусная программа</span>
            <span class="modal__close"></span>
        </div>
        <form action="#">
            <span class="modal__label">Авторизация</span>
            <input type="text" placeholder="+7 ( ___ ) ___-__-__" class="modal__input js--init-inputmask">
            <button type="submit" class="btn modal__btn">Отправить</button>
        </form>
        <form action="#">
            <div class="modal__group">
                <input type="text" class="modal__input modal__input--width" placeholder="Код подтверждения">
                <span class="modal__timer">0:00</span>
            </div>
            <button type="submit" class="btn modal__btn">Вход</button>
        </form>
        <p class="modal__info">
            Примите участие в программе лояльности! Получайте бонусы с каждой покупки и используйте их для оплаты. Специальные акции и подарки только для участников программы лояльности! 
        </p>
    </div>
</div>

<div class="modal modal--registration">
    <div class="modal__container">
        <div class="modal__header modal__header--bottom">
            <div class="modal__header-group">
                <a href="#" class="modal__number">+7 (900) 000-00-00</a>
                <span class="modal__message">Такой номер не найден</span>
            </div>
            <span class="modal__close"></span>
        </div>
        <span class="modal__title modal__title--bottom">
            Регистрация
            нового клиента
        </span>
        <form action="#">
            <input type="text" placeholder="Ваше имя" class="modal__input modal__input--view">
            <input type="text" placeholder="Дата рождения" class="modal__input modal__input--view">
            <select name="gender" data-placeholder="Пол" id="gender" class="modal__select js--init-gender">
                <option></option>
                <option name="v1">Ж</option>
                <option name="v2">М</option>
            </select>
            <select name="city" data-placeholder="Город" id="city" class="modal__select js--init-city">
                <option></option>
                <option name="v1">1</option>
                <option name="v2">2</option>
                <option name="v3">3</option>
            </select>
            <div class="modal__checkbox-group">
                <input type="checkbox" name="right" id="right" class="modal__checkbox">
                <label for="right" class="modal__check">
                    <span class="modal__square">
                        @@include('mixins/svg-icon.html', {"name": "right", "class": ""})
                    </span>
                    <span class="modal__text">
                        Соглашаюсь с условиями акции, политикой вотношении обработки персональных данных и офертой
                    </span>
                </label>
            </div>
            <button type="submit" class="btn modal-list--btn modal__btn">Регистрация</button>
        </form>
    </div>
</div>

<div class="modal modal--data">
    <div class="modal__container">
        <div class="modal__header modal__header--bottom">
            <span class="modal__title modal__title--bottom">
                Бонусная программа
            </span>
            <span class="modal__close"></span>
        </div>
        <div class="modal-list modal-list--bottom">
            <span class="modal-list__title">Мой профиль</span>
            <div class="modal-list__group">
                <span class="modal-list__caption">Владелец</span>
                <span class="modal-list__value">Вова</span>
                <a href="#" class="modal-list__edit">править</a>
            </div>
            <div class="modal-list__group">
                <span class="modal-list__caption">Телефон</span>
                <span class="modal-list__value">+7 (900) 000-00-00</span>
                <a href="#" class="modal-list__edit">править</a>
            </div>
            <div class="modal-list__group">
                <span class="modal-list__caption">Дата рождения</span>
                <span class="modal-list__value">01.01.1820</span>
                <a href="#" class="modal-list__edit">править</a>
            </div>
            <div class="modal-list__group">
                <span class="modal-list__caption">Дата активации карты</span>
                <span class="modal-list__value">20.11.2019</span>
            </div>
            <div class="modal-list__group">
                <span class="modal-list__caption">Город</span>
                <span class="modal-list__value">Набережные Челны</span>
                <a href="#" class="modal-list__edit">править</a>
            </div>
        </div>
        <div class="modal-list">
            <span class="modal-list__title">Мои бонусы</span>
            <div class="modal-list__group">
                <span class="modal-list__caption">Баланс</span>
                <span class="modal-list__value">500 бонусов</span>
            </div>
            <div class="modal-list__group">
                <span class="modal-list__caption">Накопленные</span>
                <span class="modal-list__value">0 бонусов</span>
            </div>
            <div class="modal-list__group">
                <span class="modal-list__caption">Акционные</span>
                <span class="modal-list__value">0 бонусов</span>
            </div>
            <div class="modal-list__group">
                <span class="modal-list__caption">Подарочные</span>
                <span class="modal-list__value">500 бонусов</span>
            </div>
        </div>
        <a href="#" type="submit" class="btn modal-list--btn modal__btn">Выйти</a>
    </div>
</div>

<main>
    <section class="about" data-scroll="about">
        <div class="about-art">
            <div class="about-art__line-left"></div>
            <div class="about-art__line-right"></div>
        </div>
        <div class="container">
            <div class="billboard">
                <div class="billboard__content">
                    <h1 class="billboard__title">Мы бесконечно любим наших гостей и думаем, это взаимно</h1>
                    <figure class="billboard__card js-tilt" data-tilt-perspective="1000" data-tilt-speed="5000" data-tilt-max="50">
                        <img src="img/card-cafe-group.png" alt="">
                    </figure>
                    <p class="billboard__description">Оформляй карту CafeGroup и получайте постоянные скидки во всех заведениях нашего холдинга, участвуйте в розыгрыше поездки в Елабугу и других ценных призов!</p>
                    <div class="billboard__buttons">
                        <a href="#" class="btn">Проверить бонусы</a>
                        <a href="#" class="btn">Регистрация</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="video">
        <div id="video-cafe"></div>
    </section>
    
    <section class="restaurant" data-scroll="restaurant">
        <div class="restaurant-art">
            <div class="restaurant-art__line-left"></div>
            <div class="restaurant-art__line-right"></div>
        </div>
        <div class="container">
            <h2 class="title title--dark">Рестораны</h2>
            <ul class="restaurant-navbar">
                <li class="restaurant-navbar__item">
                    <a href="#" class="restaurant-navbar__link active" data-rtab="all">Все</a>
                </li>
                <li class="restaurant-navbar__item">
                    <a href="#" class="restaurant-navbar__link" data-rtab="first">Набережные Челны</a>
                </li>
                <li class="restaurant-navbar__item">
                    <a href="#" class="restaurant-navbar__link" data-rtab="second">Елабуга</a>
                </li>
                <li class="restaurant-navbar__item">
                    <a href="#" class="restaurant-navbar__link" data-rtab="third">Нижнекамск</a>
                </li>
                <li class="restaurant-navbar__item">
                    <a href="#" class="restaurant-navbar__link" data-rtab="fourth">Казань</a>
                </li>
            </ul>
            <div class="restaurant__list">
                <a href="#" data-rcollapse="first" class="card">
                    <div class="card__header">
                        <figure class="card__image">
                            <img src="https://www.walkidea.net/wp-content/uploads/2019/06/1-1-1.jpg" alt="">
                        </figure>
                        <div class="card__content">
                            <figure class="card__logotype">
                                <img src="http://vereteno31.ru/wp-content/uploads/2018/12/header-logo-1.png" alt="">
                            </figure>
                            <span class="card__name">Барашки</span>
                            <span class="card__caption">Европейская кухня</span>
                        </div>
                    </div>
                    <div class="card__body">
                        <div class="card__item">
                            <span class="card__title">Телефон</span>
                            <span class="card__value">8 (8552) 49 29 39</span>
                        </div>
                        <div class="card__item">
                            <span class="card__title">Набережные Челны</span>
                            <span class="card__value">ул. Шамиля Усманова, 56 А</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Сегодня</span>
                            <span class="card__value card__value--point-green">11:00 - 23:00</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Начисление бонусов</span>
                            <span class="card__value">25%</span>
                        </div>
                    </div>
                </a>
                <a href="#" data-rcollapse="second" class="card">
                    <div class="card__header">
                        <figure class="card__image">
                            <img src="https://www.walkidea.net/wp-content/uploads/2019/06/1-1-1.jpg" alt="">
                        </figure>
                        <div class="card__content">
                            <figure class="card__logotype">
                                <img src="http://vereteno31.ru/wp-content/uploads/2018/12/header-logo-1.png" alt="">
                            </figure>
                            <span class="card__name">Барашки</span>
                            <span class="card__caption">Европейская кухня</span>
                        </div>
                    </div>
                    <div class="card__body">
                        <div class="card__item">
                            <span class="card__title">Телефон</span>
                            <span class="card__value">8 (8552) 49 29 39</span>
                        </div>
                        <div class="card__item">
                            <span class="card__title">Набережные Челны</span>
                            <span class="card__value">ул. Шамиля Усманова, 56 А</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Сегодня</span>
                            <span class="card__value card__value--point-red">11:00 - 23:00</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Начисление бонусов</span>
                            <span class="card__value">25%</span>
                        </div>
                    </div>
                </a>
                <a href="#" data-rcollapse="third" class="card">
                    <div class="card__header">
                        <figure class="card__image">
                            <img src="https://www.walkidea.net/wp-content/uploads/2019/06/1-1-1.jpg" alt="">
                        </figure>
                        <div class="card__content">
                            <figure class="card__logotype">
                                <img src="http://vereteno31.ru/wp-content/uploads/2018/12/header-logo-1.png" alt="">
                            </figure>
                            <span class="card__name">Барашки</span>
                            <span class="card__caption">Европейская кухня</span>
                        </div>
                    </div>
                    <div class="card__body">
                        <div class="card__item">
                            <span class="card__title">Телефон</span>
                            <span class="card__value">8 (8552) 49 29 39</span>
                        </div>
                        <div class="card__item">
                            <span class="card__title">Набережные Челны</span>
                            <span class="card__value">ул. Шамиля Усманова, 56 А</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Сегодня</span>
                            <span class="card__value">11:00 - 23:00</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Начисление бонусов</span>
                            <span class="card__value">25%</span>
                        </div>
                    </div>
                </a>
                <a href="#" data-rcollapse="fourth" class="card">
                    <div class="card__header">
                        <figure class="card__image">
                            <img src="https://mayertrade.com.ua/img/leoblog/b/lg-b-salt_2017_main.jpg" alt="">
                        </figure>
                        <div class="card__content">
                            <figure class="card__logotype">
                                <img src="http://vereteno31.ru/wp-content/uploads/2018/12/header-logo-1.png" alt="">
                            </figure>
                            <span class="card__name">Барашки</span>
                            <span class="card__caption">Европейская кухня</span>
                        </div>
                    </div>
                    <div class="card__body">
                        <div class="card__item">
                            <span class="card__title">Телефон</span>
                            <span class="card__value">8 (8552) 49 29 39</span>
                        </div>
                        <div class="card__item">
                            <span class="card__title">Набережные Челны</span>
                            <span class="card__value">ул. Шамиля Усманова, 56 А</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Сегодня</span>
                            <span class="card__value">11:00 - 23:00</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Начисление бонусов</span>
                            <span class="card__value">25%</span>
                        </div>
                    </div>
                </a>
                <a href="#" data-rcollapse="third" class="card">
                    <div class="card__header">
                        <figure class="card__image">
                            <img src="https://mayertrade.com.ua/img/leoblog/b/lg-b-salt_2017_main.jpg" alt="">
                        </figure>
                        <div class="card__content">
                            <figure class="card__logotype">
                                <img src="http://vereteno31.ru/wp-content/uploads/2018/12/header-logo-1.png" alt="">
                            </figure>
                            <span class="card__name">Барашки</span>
                            <span class="card__caption">Европейская кухня</span>
                        </div>
                    </div>
                    <div class="card__body">
                        <div class="card__item">
                            <span class="card__title">Телефон</span>
                            <span class="card__value">8 (8552) 49 29 39</span>
                        </div>
                        <div class="card__item">
                            <span class="card__title">Набережные Челны</span>
                            <span class="card__value">ул. Шамиля Усманова, 56 А</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Сегодня</span>
                            <span class="card__value">11:00 - 23:00</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Начисление бонусов</span>
                            <span class="card__value">25%</span>
                        </div>
                    </div>
                </a>
                <a href="#" data-rcollapse="second" class="card">
                    <div class="card__header">
                        <figure class="card__image">
                            <img src="https://mayertrade.com.ua/img/leoblog/b/lg-b-salt_2017_main.jpg" alt="">
                        </figure>
                        <div class="card__content">
                            <figure class="card__logotype">
                                <img src="http://vereteno31.ru/wp-content/uploads/2018/12/header-logo-1.png" alt="">
                            </figure>
                            <span class="card__name">Барашки</span>
                            <span class="card__caption">Европейская кухня</span>
                        </div>
                    </div>
                    <div class="card__body">
                        <div class="card__item">
                            <span class="card__title">Телефон</span>
                            <span class="card__value">8 (8552) 49 29 39</span>
                        </div>
                        <div class="card__item">
                            <span class="card__title">Набережные Челны</span>
                            <span class="card__value">ул. Шамиля Усманова, 56 А</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Сегодня</span>
                            <span class="card__value">11:00 - 23:00</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Начисление бонусов</span>
                            <span class="card__value">25%</span>
                        </div>
                    </div>
                </a>
                <a href="#" data-rcollapse="third" class="card">
                    <div class="card__header">
                        <figure class="card__image">
                            <img src="https://mayertrade.com.ua/img/leoblog/b/lg-b-salt_2017_main.jpg" alt="">
                        </figure>
                        <div class="card__content">
                            <figure class="card__logotype">
                                <img src="http://vereteno31.ru/wp-content/uploads/2018/12/header-logo-1.png" alt="">
                            </figure>
                            <span class="card__name">Барашки</span>
                            <span class="card__caption">Европейская кухня</span>
                        </div>
                    </div>
                    <div class="card__body">
                        <div class="card__item">
                            <span class="card__title">Телефон</span>
                            <span class="card__value">8 (8552) 49 29 39</span>
                        </div>
                        <div class="card__item">
                            <span class="card__title">Набережные Челны</span>
                            <span class="card__value">ул. Шамиля Усманова, 56 А</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Сегодня</span>
                            <span class="card__value">11:00 - 23:00</span>
                        </div>
                        <div class="card__item card__item--row">
                            <span class="card__title">Начисление бонусов</span>
                            <span class="card__value">25%</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <section class="guest" data-scroll="guest">
        <div class="guest-art">
            <span class="guest-art__card"></span>
            <span class="guest-art__bg"></span>
            <div class="guest-art__line-left"></div>
            <div class="guest-art__line-right"></div>
        </div>
        <div class="container">
            <h2 class="title title--white">Карта гостя</h2>
            <div class="guest__content">
                <div class="guest__row">
                    <div class="guest-item">
                        <figure class="guest-item__image">
                            <img src="img/guest-card.png" alt="">
                        </figure>
                        <div class="guest-item__body">
                            <span class="guest-item__number"># 001</span>
                            <span class="guest-item__name">
                                Получите карту в любом заведении
                            </span>
                        </div>
                    </div>
                    <div class="guest-item guest-item--left">
                        <figure class="guest-item__image">
                            <img src="img/guest-star.png" alt="">
                        </figure>
                        <div class="guest-item__body">
                            <span class="guest-item__number"># 002</span>
                            <span class="guest-item__name">
                                Зарегистрируйтесь на нашем сайте
                            </span>
                        </div>
                    </div>
                </div>
                <div class="guest__row">
                    <div class="guest-item guest-item--top">
                        <figure class="guest-item__image">
                            <img src="img/guest-card.png" alt="">
                        </figure>
                        <div class="guest-item__body">
                            <span class="guest-item__number"># 003</span>
                            <span class="guest-item__name">
                                Оплачивайте счет в заведении и накапливайте бонусы
                                <span class="guest-item__name--yellow">( 1 рубль = 1 бонус )</span>
                            </span>
                        </div>
                    </div>
                    <div class="guest-item">
                        <figure class="guest-item__image">
                            <img src="img/guest-star.png" alt="">
                        </figure>
                        <div class="guest-item__body">
                            <span class="guest-item__number"># 004</span>
                            <span class="guest-item__name">
                                Оплачивайте бонусами <span class="guest-item__name--green">до 30%</span> счета в заведении и <span class="guest-item__name--green">до 70%</span> счета при доставке еды с сайта
                            </span>
                        </div>
                    </div>
                    <div class="guest__set">
                        <a href="#" class="btn">Зарегистрируйтесь</a>
                        <a href="#" class="btn">Проверить бонусы</a>
                        <a href="#" class="btn-conditions">Условия.pdf</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="bonuses" data-scroll="bonuses">
        <div class="bonuses-art">
            <div class="bonuses-art__line-left"></div>
            <div class="bonuses-art__line-right"></div>
        </div>
        <div class="container">
            <h2 class="title title--dark">Подарки за бонусы</h2>
            <div class="bonuses-slider">
                <div class="bonuses__pagination js-bonuses-pagination"></div>
                <div class="swiper-container js-bonuses-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="bonuses-item">
                                <figure class="bonuses-item__frame">
                                    <img src="img/bonuses-item-1.png" alt="">
                                </figure>
                                <span class="bonuses-item__name">Футболка мужская</span>
                                <span class="bonuses-item__count">
                                    <span class="bonuses-item__count--bold">150</span> бонусов
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="bonuses-item">
                                <figure class="bonuses-item__frame">
                                    <img src="img/bonuses-item-2.png" alt="">
                                </figure>
                                <span class="bonuses-item__name">Футболка мужская</span>
                                <span class="bonuses-item__count">
                                    <span class="bonuses-item__count--bold">150</span> бонусов
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="bonuses-item">
                                <figure class="bonuses-item__frame">
                                    <img src="img/bonuses-item-1.png" alt="">
                                </figure>
                                <span class="bonuses-item__name">Футболка мужская</span>
                                <span class="bonuses-item__count">
                                    <span class="bonuses-item__count--bold">150</span> бонусов
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="bonuses-item">
                                <figure class="bonuses-item__frame">
                                    <img src="img/bonuses-item-2.png" alt="">
                                </figure>
                                <span class="bonuses-item__name">Футболка мужская</span>
                                <span class="bonuses-item__count">
                                    <span class="bonuses-item__count--bold">150</span> бонусов
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="bonuses-item">
                                <figure class="bonuses-item__frame">
                                    <img src="img/bonuses-item-1.png" alt="">
                                </figure>
                                <span class="bonuses-item__name">Футболка мужская</span>
                                <span class="bonuses-item__count">
                                    <span class="bonuses-item__count--bold">150</span> бонусов
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="bonuses-item">
                                <figure class="bonuses-item__frame">
                                    <img src="img/bonuses-item-2.png" alt="">
                                </figure>
                                <span class="bonuses-item__name">Футболка мужская</span>
                                <span class="bonuses-item__count">
                                    <span class="bonuses-item__count--bold">150</span> бонусов
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bonuses__information">
                <p class="bonuses__description">
                    Оформляй карту CafeGroup и получайте постоянные скидки во всех заведениях нашего холдинга, участвуйте в розыгрые.
                </p>
                <a href="#" class="btn-conditions">Условия.pdf</a>
            </div>
        </div>
    </section>
    
    <section class="works" data-scroll="works">
        <div class="works-photo">
            <figure class="works-photo__frame" data-collapse="cafe-group-1">
                <img src="img/works-people.png" alt="">
            </figure>
            <figure class="works-photo__frame hide" data-collapse="cafe-group-2">
                <img src="https://clipart-db.ru/file_content/rastr/people-084.png" alt="">
            </figure>
            <figure class="works-photo__frame hide" data-collapse="cafe-group-3">
                <img src="https://clipart-db.ru/file_content/rastr/people-079.png" alt="">
            </figure>
            <figure class="works-photo__frame hide" data-collapse="cafe-group-4">
                <img src="https://stock.liga.ws/wp-content/uploads/sites/22/2019/07/Mult_Sport_003.png" alt="">
            </figure>
        </div>
        <div class="works-art">
            <span class="works-art__background"></span>
            <div class="works-art__line-left"></div>
            <div class="works-art__line-right"></div>
        </div>
        <div class="container">
            <div class="works__content">
                <h2 class="works__title">Работа</h2>
                <p class="works__description">Мы ценим труд каждого члена команды, помогаем в обучении и не увольняем за ошибки по незнанию.</p>
                <div class="works__scrollbar">
                    <div class="works__list js-init-scrollbar">
                        <div class="works__item active" data-tab="cafe-group-1">
                            <span class="works__name">Официант</span>
                            <span class="works__caption">Набережные Челны</span>
                            <span class="works__text">Елабуга</span>
                            <span class="works__price">з.п. от 25 000 р.</span>
                        </div>
                        <div class="works__item" data-tab="cafe-group-2">
                            <span class="works__name">Бармен</span>
                            <span class="works__caption">Набережные Челны</span>
                            <span class="works__text">Елабуга</span>
                            <span class="works__price">з.п. от 25 000 р.</span>
                        </div>
                        <div class="works__item" data-tab="cafe-group-3">
                            <span class="works__name">Повар</span>
                            <span class="works__text">Елабуга</span>
                            <span class="works__price">з.п. от 25 000 р.</span>
                        </div>
                        <div class="works__item" data-tab="cafe-group-4">
                            <span class="works__name">Повар</span>
                            <span class="works__text">Елабуга</span>
                            <span class="works__price">з.п. от 25 000 р.</span>
                        </div>
                    </div>
                </div>
                <span class="works__questions">По вопросам трудоустройства звоните</span>
                <a href="#" class="works__number">+7 960 044 78 26</a>
                <a href="#" class="btn works__btn btn--yellow">Отправить резюме</a>
            </div>
        </div>
    </section>
    
    <section class="news" data-scroll="news">
        <div class="news-art">
            <div class="news-art__line-left"></div>
            <div class="news-art__line-right"></div>
        </div>
        <div class="container">
            <h2 class="title title--dark">Новости</h2>
            <div class="news__list">
                <a href="#" class="news-item">
                    <figure class="news-item__frame">
                        <img src="img/news-1.png" alt="">
                    </figure>
                    <div class="news-item__body">
                        <span class="news-item__date">04.11.2019</span>
                        <span class="news-item__name">Облившему себя и пристава бензином россиянину сократили часть долга.</span>
                        <span class="news-item__description">
                            Бортников рассказал о том, что возвращающиеся в Россию из стран Ближнего Востока родственники боевиков могут продолжить террористическую деятельность. По его словам, в ближайшее время границу России могут пересечь порядка двух тысяч родных и детей террористов.
                        </span>
                    </div>
                </a>
                <a href="#" class="news-item">
                    <figure class="news-item__frame">
                        <img src="img/news-2.png" alt="">
                    </figure>
                    <div class="news-item__body">
                        <span class="news-item__date">04.11.2019</span>
                        <span class="news-item__name">Облившему себя и пристава бензином россиянину сократили часть долга.</span>
                        <span class="news-item__description">
                            Бортников рассказал о том, что возвращающиеся в Россию из стран Ближнего Востока родственники боевиков могут продолжить террористическую деятельность. По его словам, в ближайшее время границу России могут пересечь порядка двух тысяч родных и детей террористов.
                        </span>
                    </div>
                </a>
            </div>
            <a href="#" class="btn news__btn btn--yellow">Загрузить ещё</a>
        </div>
    </section>
</main>

<!--=include partials/footer.html -->