<!--=include partials/header-dark.html -->

<main class="main">
    <section class="restaurants">
        <div class="container restaurants__container">
            <div class="restaurants__restaurants-data">
                <a href="#" class="restaurants__logotype">
                    <img src="img/restaurants-logotype.png" alt="">
                </a>
                <div class="restaurants__content">
                    <div class="restaurants__row">
                        <h2 class="restaurants__title">Грузинская кухня</h2>
                        <ul class="restaurants__list">
                            <li class="restaurants__item restaurants__item--business">
                                <span class="restaurants__subtitle">Работаем сегодня</span>
                                <span class="restaurants__value">11:00 - 23:00</span>
                            </li>
                            <li class="restaurants__item restaurants__item--not-business">
                                <span class="restaurants__subtitle">Начисление бонусов</span>
                                <span class="restaurants__value">25%</span>
                            </li>
                        </ul>
                    </div>
                    <div class="restaurants__row">
                        <span class="restaurants__subtitle restaurants__subtitle--block">Набережные челны</span>
                        <span class="restaurants__address">ул. Шамиля Усманова, 56 А</span>
                        <span class="restaurants__subtitle restaurants__subtitle--block">Телефон</span>
                        <a href="#" class="restaurants__number">8 (8552) 49 29 39</a>
                    </div>
                </div>
                <a href="#" class="btn restaurants__btn btn--yellow">Доставка еды</a>
            </div>
            <div class="restaurants__slider">
                <div class="swiper-container js--init-restaurants">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <picture class="restaurants__frame">
                                <img src="img/restaurants-image.jpg" alt="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture class="restaurants__frame">
                                <img src="img/restaurants-image.jpg" alt="">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture class="restaurants__frame">
                                <img src="img/restaurants-image.jpg" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-pagination js--pagination-restaurants"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="stories">
        <div class="container">
            <h2 class="stories__title">Грузинские Истории — это намного больше, чем <br> грузинский рестора</h2>
            <p class="stories__description">
                Здесь Вы ощутите атмосферу Грузинского дома, природы и современности, откроете настроение и настоящий вкус национальной кухни. <br>
                В меню ресторана собраны самые популярные блюда Грузии: <span class="bold">Пхали и Хинкали, Хачапури и Чашушули, Сациви и Чкмерули</span> и многие другие.
            </p>
            <p class="stories__description">
                Грузинские истории - идеально подойдут для семейных вечеров и важных встреч. <br>
                Чтобы ваше застолье было более комфортным, мы подготовили отдельный банкетный зал вместимостью до 25 гостей. <br>
                А для наших юных генацвале мы подготовили отдельное меню и детскую игровую комнату.
            </p>
            <div class="stories__slider">
                <div class="swiper-container js--init-stories">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="story stories__story">
                                <picture class="story__frame">
                                    <img src="img/story-1.png" alt="">
                                </picture>
                                <span class="story__title">Банкетный зал</span>
                                <span class="story__subtitle">на 25 человек</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="story stories__story">
                                <picture class="story__frame">
                                    <img src="img/story-2.png" alt="">
                                </picture>
                                <span class="story__title">Игровая комната</span>
                                <span class="story__subtitle">Улыбки ваших детей</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="story stories__story">
                                <picture class="story__frame">
                                    <img src="img/story-3.png" alt="">
                                </picture>
                                <span class="story__title">Средний чек</span>
                                <span class="story__subtitle">850 рублей</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="story stories__story">
                                <picture class="story__frame">
                                    <img src="img/story-4.png" alt="">
                                </picture>
                                <span class="story__title">75 Посадочный мест</span>
                                <span class="story__subtitle">50 зал и 25 летняя веранда</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="story stories__story">
                                <picture class="story__frame">
                                    <img src="img/story-4.png" alt="">
                                </picture>
                                <span class="story__title">75 Посадочный мест</span>
                                <span class="story__subtitle">50 зал и 25 летняя веранда</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination js--pagination-stories"></div>
            </div>
        </div>
    </section>
    <section class="restauran-menu">
        <div class="restauran-menu__content">
            <div class="restauran-menu-art">
                <span class="restauran-menu-art__line-left"></span>
                <span class="restauran-menu-art__line-right"></span>
            </div>
            <div class="container restauran-menu__container">
                <h2 class="restauran-menu__title">Меню ресторана</h2>
                <div class="restauran-menu__slider">
                    <div class="swiper-container js--init-menu">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="menu-item restauran-menu__menu-item">
                                    <picture class="menu-item__frame">
                                        <img src="img/share.jpg" alt="">
                                    </picture>
                                    <div class="menu-item__bottom">
                                        <span class="menu-item__name">Выпить</span>
                                        <a href="#" target="_blank" class="menu-item__download">
                                            <span class="menu-item__icon">
                                                @@include('mixins/svg-icon.html', {"name": "share", "class": ""})
                                            </span>
                                            pdf
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="menu-item restauran-menu__menu-item">
                                    <picture class="menu-item__frame">
                                        <img src="img/share.jpg" alt="">
                                    </picture>
                                    <div class="menu-item__bottom">
                                        <span class="menu-item__name">Выпить</span>
                                        <a href="#" target="_blank" class="menu-item__download">
                                            <span class="menu-item__icon">
                                                @@include('mixins/svg-icon.html', {"name": "share", "class": ""})
                                            </span>
                                            pdf
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="menu-item restauran-menu__menu-item">
                                    <picture class="menu-item__frame">
                                        <img src="img/share.jpg" alt="">
                                    </picture>
                                    <div class="menu-item__bottom">
                                        <span class="menu-item__name">Выпить</span>
                                        <a href="#" target="_blank" class="menu-item__download">
                                            <span class="menu-item__icon">
                                                @@include('mixins/svg-icon.html', {"name": "share", "class": ""})
                                            </span>
                                            pdf
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination js--pagination-menu"></div>
                </div>
            </div>
        </div>
        <div class="contacts-restauran">
            <div class="container contacts-restauran__container">
                <div class="contacts-restauran__content">
                    <div class="contacts-restauran__map">
                        <iframe src="https://yandex.ru/map-widget/v1/-/CKAcVC~2" frameborder="1" allowfullscreen="true"></iframe>
                    </div>
                    <div class="contacts-restauran__data">
                        <span class="contacts-restauran__title">Контакты</span>
                        <div class="contacts-restauran__wrapper">
                            <div class="contacts-restauran__row">
                                <span class="contacts-restauran__subtitle">Набережные Челны</span>
                                <span class="contacts-restauran__address">пр. Хасана Туфана, 8 (2/07)</span>
                                <span class="contacts-restauran__subtitle">Режим работы</span>
                                <span class="contacts-restauran__value">пн-чт, вс 10:00 - 00:00</span>
                                <span class="contacts-restauran__value">пт, сб 10:00 - 01:00</span>
                            </div>
                            <div class="contacts-restauran__row">
                                <div class="contacts-restauran__group">
                                    <div class="contacts-restauran__item">
                                        <span class="contacts-restauran__subtitle">Ответим на все вопросы</span>
                                        <a href="#" class="contacts-restauran__number">8 (8552) 45 00 19</a>
                                    </div>
                                    <div class="contacts-restauran__item">
                                        <span class="contacts-restauran__subtitle">По вопросам трудоустройства</span>
                                        <a href="#" class="contacts-restauran__number">+7 960 044 78 26</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="contacts-restauran__subtitle">Присоединяйтесь к нам:</span>
                        <div class="contacts-restauran__socials">
                            <a href="#" class="contacts-restauran__social">instargam</a>
                            <a href="#" class="contacts-restauran__social">vkontakte</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--=include partials/footer.html -->