<footer class="footer">
    <div class="social">
        <div class="social__container">
            <a href="#" class="social__item">
                @@include('mixins/svg-icon.html', {"name": "vk", "class": "social__icon"})
            </a>
            <a href="#" class="social__item">
                @@include('mixins/svg-icon.html', {"name": "instagram", "class": "social__icon"})
            </a>
            <a href="#" class="social__item">
                @@include('mixins/svg-icon.html', {"name": "youtube", "class": "social__icon"})
            </a>
        </div>
    </div>
    <div class="footer__container">
        <div class="footer__row">
            <a href="#" class="footer__logotype">
                <img src="img/logotype-white.png" alt="">
            </a>
            <address class="footer__address">Набережные Челны, ул. Лумумбы 00</address>
            <a href="#" class="footer__number">+7 000 000 00 00</a>
            <span class="footer__subtitle">По вопросам сотрудничества:</span>
            <a href="#" class="footer__email">pr@cafegroup.ru</a>
        </div>
        <div class="footer__row footer__row--navbar">
            <nav class="footer__navbar">
                <a href="#about" class="footer__link js-scroll-link">О нас</a>
                <a href="#restaurant" class="footer__link js-scroll-link">Рестораны</a>
                <a href="#guest" class="footer__link js-scroll-link">Карта гостя</a>
                <a href="#bonuses" class="footer__link js-scroll-link">Подарки за бонусы</a>
                <a href="#works" class="footer__link js-scroll-link">Работа</a>
                <a href="#news" class="footer__link js-scroll-link">Новости</a>
            </nav>
        </div>
        <div class="footer__row footer__row--bottom">
            <a href="#" class="personal-cabinet footer__personal-cabinet">
                @@include('mixins/svg-icon.html', {"name": "account", "class": "personal-cabinet__icon"})
                <span class="personal-cabinet__caption">Личный кабинет</span>
            </a>
            <form action="#" class="footer-subscription">
                <label for="subscription" class="footer-subscription__title">Подписаться на рассылку новостей и акций</label>
                <div class="footer-subscription__group">
                    <input type="text" id="subscription" placeholder="name@name.ru" class="footer-subscription__input">
                    <button type="submit" class="btn btn--yellow footer-subscription__btn">Подписаться</button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom__container">
            <span class="footer-bottom__right">
                2020 <span class="footer-bottom__right--thin">&#64; Cafe Group</span>
            </span>
            <a href="#" class="footer-bottom__politic">Политика конфинденциальности</a>
            <a href="https://oxbox.ru/" target="_blanck" class="developer">
                <figure class="developer__logotype">
                    <img src="img/develop.svg" alt="">
                </figure>
                <span class="developer__caption">Разработано в <span class="developer__caption--bold">Oxbox</span></span>
            </a>
        </div>
    </div>
</footer>
<script src="vendor/jquery/dist/jquery.min.js" inline></script>
<script src="vendor/swiper/package/js/swiper.min.js" inline></script>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.js"></script>
<script src="vendor/tilt.js/dest/tilt.jquery.js"></script>
<script src="vendor/inputmask/dist/jquery.inputmask.bundle.js"></script>
<script src="vendor/select2/dist/js/select2.min.js"></script>
<script src="js/script.js$$version$$" inline></script>

<script>

    var tag, firstScriptTag, player;

    tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    function onYouTubePlayerAPIReady() {
        player = new YT.Player('video-cafe', {
            height: '100%',
            width: '100%',
            playerVars : {
                autoplay: 0, 
            },
            videoId: 'hECYjB8rQGo'
        });
    }

    $(document).ready(function() {

        $(window).scroll(function() {
    
            var heightVideo, 
                scrollWindow;

            if($('#video-cafe').length) {

                heightVideo = $('#video-cafe').height();
                scrollWindow = $(window).scrollTop();
                scrollVideo = $('#video-cafe').offset().top;
                if(scrollWindow > scrollVideo / 2 && scrollVideo + heightVideo / 2 > scrollWindow) {
                    player.playVideo();
                }
                else {
                    player.pauseVideo();
                }
            }
        });
    })
</script>

</body>
</html>