.footer {
    background-color: $black-darken;
    &__container {
        max-width: 1270px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 27px;
        padding-bottom: 45px;
        display: flex;
    }
    &__row {
        width: calc(100% / 3);
        &--bottom {
            display: flex;
            flex-direction: column;
        }
    }
    &__logotype {
        display: inline-block;
        margin-bottom: 30px;
    }
    &__address {
        display: block;
        padding-bottom: 10px;
        color: white;
        font-family: $ubuntu;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
    }
    &__number {
        display: inline-block;
        font-family: $ubuntu;
        font-size: 16px;
        font-weight: 700;
        color: white;
        margin-bottom: 35px;
    }
    &__subtitle {
        display: block;
        padding-bottom: 10px;
        color: white;
        font-family: $ubuntu;
        font-size: 16px;
        font-weight: 400;
    }
    &__email {
        display: block;
        color: $yellow-lighten;
        font-family: $ubuntu;
        font-size: 16px;
        font-weight: 400;
    }
    &__navbar {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    &__link {
        color: $grey-light;
        font-weight: 400;
        font-size: 16px;
        font-family: $ubuntu;
        padding: 5px 0;
        margin-bottom: 10px;
        transition-duration: 0.4s;
        &:last-child {
            margin-bottom: 0;
        }
        &.active {
            color: white;
        }
    }
    &__personal-cabinet {
        $personal-cabinet: '.personal-cabinet';

        margin-top: 30px;
        #{$personal-cabinet} {
            &__caption {
                color: white;
            }
            &__icon {
                width: 29px;
                height: 29px;
            }
        }
    }
}

.footer-subscription {
    margin-top: auto;
    &__title {
        font-family: $ubuntu;
        font-size: 16px;
        font-weight: 400;
        color: white;
        display: block;
        margin-bottom: 20px;
    }
    &__group {
        display: flex;
    }
    &__input {
        max-width: 260px;
        width: 100%;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        border: none;
        color: white;
        font-family: $ubuntu;
        font-weight: 400;
        font-size: 14px;
        background-color: $black-darkest;
        padding-left: 25px;
        padding-right: 25px;
        &::placeholder {
            font-family: $ubuntu;
            color: white;
            opacity: 0.4;
            font-weight: 400;
            font-size: 14px;
        }
    }
    &__btn {
        border-radius: 18px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
        min-width: 150px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.footer-bottom {
    border-top: 1px solid $black-lightest;
    &__container {
        max-width: 1270px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
    }
    &__right {
        font-size: 14px;
        color: $grey-light;
        &--thin {
            color: white;
        }
    }
    &__politic {
        font-size: 14px;
        color: $white-lightest;
    }
}

.developer {
    display: flex;
    align-items: center;
    &__logotype {
        width: 38px;
        height: 38px;
        margin-right: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__caption {
        font-size: 14px;
        color: $grey-light;
        &--bold {
            font-weight: 600;
            text-transform: uppercase;
            color: white;
            padding-left: 3px;
        }
    }
}

.social {
    background-color: $black-darken;
    border-bottom: 1px solid $black-lightest;
    &__container {
        max-width: 1270px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: calc(100% / 3);
        border-right: 1px solid $black-lightest;
        border-left: 1px solid $black-lightest;
        &:first-child {
            border-right: none;
        }
        &:last-child {
            border-left: none;
        }
    }
    &__icon {
        fill: white;
        width: 30px;
        height: 30px;
    }
}

@media #{$sr-1500} {
    .social,
    .footer-bottom,
    .footer {
        &__container {
            max-width: 1000px;
        }
    }
    .footer {
        &__row {
            &--navbar {
                padding-left: 45px;
            }
        }
    }
    .footer-subscription {
        &__input {
            max-width: calc(100% - 115px);
        }
        &__btn {
            min-width: 115px;
        }
    }
}

@media #{$sr-1200} {
    .social,
    .footer-bottom,
    .footer {
        &__container {
            max-width: 992px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .social {
        &__icon {
            width: 26px;
            height: 26px;
        }
    }
    .footer-subscription {
        &__input {
            max-width: calc(100% - 105px);
        }
        &__title {
            font-size: 15px;
        }
        &__btn {
            min-width: 105px;
        }
    }
}

@media #{$sr-992} {
    .social,
    .footer-bottom,
    .footer {
        &__container {
            max-width: 768px;
        }
    }
    .footer {
        &__container {
            flex-wrap: wrap;
            padding-top: 10px;
            padding-bottom: 20px;
        }
        &__row {
            width: 60%;
            &--navbar {
                width: 40%;
                padding-left: 0;
            }
            &--bottom {
                width: 100%;
                padding-left: 0;
            }
        }
        &__logotype {
            margin-bottom: 30px;
        }
        &__number {
            margin-bottom: 30px;
        }
        &__navbar {
            padding-top: 19px;
        }
        &__personal-cabinet {
            margin-bottom: 30px;
        }
    }
    .footer-subscription {
        &__title {
            margin-bottom: 10px;
        }
        &__input {
            max-width: calc(100% - 115px);
            width: 300px;
        }
        &__btn {
            min-width: 115px;
        }
    }
    .footer-bottom {
        &__container {
            padding: 20px 15px;
        }
    }
}

@media #{$sr-768} {
    .social,
    .footer-bottom,
    .footer {
        &__container {
            max-width: 576px;
        }
    }
    .footer {
        &__container {
            padding-top: 15px;
        }
    }
    .social {
        &__item {
            height: 55px;
        }
    }
    .footer-bottom {
        &__container {
            flex-wrap: wrap;
        }
        &__politic {
            margin-left: auto;
        }
    }
    .developer {
        margin-top: 20px;
    }
}

@media #{$sr-576} {
    .social,
    .footer-bottom,
    .footer {
        &__container {
            max-width: 100%;
        }
    }
    .footer {
        &__row {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            &--navbar {
                width: 100%;
            }
        }
        &__navbar {
            padding-top: 25px;
        }
        &__link {
            text-align: center;
        }
        &__logotype {
            margin-bottom: 20px;
        }
        &__number {
            margin-bottom: 20px;
        }
        &__personal-cabinet {

            $personal-cabinet: '.personal-cabinet';

            margin-top: 25px;
            margin-bottom: 25px;
            #{$personal-cabinet} {
                &__caption {
                    display: block;
                }
                &__icon {
                    margin-right: 15px;
                }
            }
        }
    }
    .footer-subscription {
        &__input {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__title {
            font-size: 14px;
        }
    }
    .footer-bottom {
        &__container {
            flex-direction: column;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        &__politic {
            margin-left: 0;
            margin-top: 25px;
        }
    }
    .developer {
        margin-top: 25px;
    }
}