.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: z('header');
    &__row {
        display: flex;
        align-items: center;
        min-height: 80px;
    }
}
.logotype {
    display: block;
    width: 186px;
    img {
        width: 100%;
    }
}
.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    &__item {
        display: flex;
        align-items: center;
        &:last-child {
            &:after {
                display: none;
            }
        }
        &:after {
            content: '';
            display: block;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: $grey-lighten;
            margin: 0 15px;
        }
    }
    &__link {
        display: block;
        font-family: $ubuntu;
        font-weight: 400;
        color: $grey-dark;
        font-size: 16px;
        transition-duration: 0.4s;
        &.active {
            color: $pink-dark;
        }
    }
}
.personal-cabinet {
    display: flex;
    align-items: center;
    &__icon {
        width: 32px;
        height: 32px;
        fill: $pink-dark;
        margin-right: 12px;
    }
    &__caption {
        font-family: $ubuntu;
        font-weight: 400;
        font-size: 16px;
        color: $grey-dark;
    }
}

.toggle {
    display: none;
}

.header--dark {
    background-color: #161a1e;
    .navbar__link {
        color: white;
        &.active {
            color: #f52f7c;
        }
    }
    .personal-cabinet__caption {
        color: white;
    }
}

@media #{$sr-1500} {
    .logotype {
        width: 160px;
    }
    .navbar {
        &__item {
            &:after {
                margin: 0 12px;
            }
        }
    }
    .personal-cabinet {
        &__icon {
            width: 28px;
            height: 28px;
            margin-right: 10px;
        }
    }
}

@media #{$sr-1200} {
    .logotype {
        width: 140px;
    }
    .navbar {
        &__link {
            font-size: 15px;
        }
        &__item {
            &:after {
                margin: 0 10px;
            }
        }
    }
    .personal-cabinet {
        &__caption {
            font-size: 15px;
        }
        &__icon {
            width: 22px;
            height: 22px;
            margin-right: 8px;
        }
    }
}

@media #{$sr-992} {
    .header {
        border-bottom: 1px solid $white-dark;
        &__row {
            min-height: 60px;
        }
        .container {
            position: relative;
        }
    }
    .logotype {
        width: 160px;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar {
        visibility: hidden;
        position: absolute;
        top: 61px;
        left: -150%;
        width: 100%;
        opacity: 0;
        min-height: calc(100vh - 60px);
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 25px;
        padding-left: 30px;
        transition-duration: 1s;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            left: 1px;
            bottom: 0;
            width: 50%;
            transform: translateX(-100%);
            background-color: white;
            z-index: 1;
            border-top: 1px solid $white-dark;
        }
        &__item {
            &:after {
                display: none;
            }
        }
        &__link {
            font-size: 16px;
            padding: 10px 0;
        }
        &.active {
            visibility: visible;
            left: 0;
            opacity: 1;
            width: 50%;
        }
    }
    .toggle {
        display: block;
        width: 45px;
        height: 45px;
        &__icon {
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: transform 400ms;
            user-select: none;
            &.active {
                transform: rotate(45deg);
                .toggle {
                    &__line {
                        &--top {
                            stroke-dashoffset: -64px;
                        }
                        &--middle {
                            transform: rotate(90deg);
                        }
                        &--bottom {
                            stroke-dashoffset: -64px;
                        }
                    }
                }
            }
        }
        &__line {
            fill:none;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke:#000;
            stroke-width: 5.5;
            stroke-linecap: round;
            &--top {
                stroke-dasharray: 40 160;
            }
            &--middle {
                stroke-dasharray: 40 142;
                transform-origin: 50%;
                transition: transform 400ms;
            }
            &--bottom {
                stroke-dasharray: 40 85;
                transform-origin: 50%;
                transition: transform 400ms, stroke-dashoffset 400ms;
            }
        }
    }
    .personal-cabinet {
        padding-right: 15px;
        &__caption {
            font-size: 16px;
        }
        &__icon {
            width: 28px;
            height: 28px;
            margin-right: 12px;
        }
    }
    .header--dark {
        border-bottom: 1px solid #3e464e;
        .toggle__line {
            stroke: white;
        }
        .navbar {
            background-color: #161a1e;
            &:before {
                background-color: #161a1e;
                border-top: 1px solid #3e464e;
            }
        }
    }
}

@media #{$sr-768} {
    .logotype {
        margin-left: 25px;
    }
    .navbar {
        &.active {
            width: 70%;
        }
    }
}

@media #{$sr-576} {
    .header {
        .container {
            padding-left: 2px;
        }
    }
    .logotype {
        margin-left: auto;
    }
    .navbar {
        transition-duration: .5s;
        padding-left: 15px;
        &.active {
            width: 90%;
        }
    }
    .personal-cabinet {
        padding-right: 0;
        &__icon {
            margin-right: 0;
        }
        &__caption {
            display: none;
        }
    }
}