.about {
    width: 100%;
    position: relative;
    background-image: url('../img/about-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-art {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    &__line-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/line-left.png');
        background-repeat: repeat-y;
        background-position-x: left;
    }
    &__line-right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/line-right.png');
        background-repeat: repeat-y;
        background-position-x: right;
    }
}

.billboard {
    position: relative;
    z-index: 4;
    width: 100%;
    &__content {
        max-width: 622px;
        margin: 0 auto;
    }
    &__title {
        font-family: $ubuntu;
        font-weight: 400;
        font-size: 38px;
        line-height: 45px;
        color: white;
        text-align: center;
        padding-top: 65px;
        padding-bottom: 40px;
    }
    &__description {
        display: block;
        width: 75%;
        margin: 0 auto;
        text-align: center;
        color: $grey-light;
        font-size: 15px;
        line-height: 24px;
        font-family: $ubuntu;
        font-weight: 400;
        padding-top: 35px;
        padding-bottom: 40px;
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 65px;
        .btn {
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}

@media #{$sr-1500} {
    .billboard {
        &__title {
            font-size: 34px;
            line-height: 42px;
            padding-top: 45px;
            padding-bottom: 30px;
        }
        &__content {
            max-width: 600px;
        }
        &__buttons {
            padding-bottom: 45px;
        }
    }
}

@media #{$sr-1200} {
    .billboard {
        &__title {
            font-size: 32px;
            line-height: 40px;
            padding-top: 25px;
            padding-bottom: 20px;
        }
        &__description {
            padding-top: 20px;
            padding-bottom: 25px;
        }
        &__content {
            max-width: 590px;
        }
        &__buttons {
            padding-bottom: 35px;
        }
        &__card {
            max-width: 450px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    .about-art {
        opacity: 0.3;
        &__line-right {
            background-size: 50%;
        }
        &__line-left {
            background-size: 50%;
        }
    }
}

@media #{$sr-768} {
    .about-art {
        display: none;
    }
    .billboard {
        &__content {
            max-width: 100%;
        }
        &__title {
            font-size: 28px;
            line-height: 34px;
            padding-top: 30px;
            padding-bottom: 25px;
        }
        &__description {
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &__card {
            max-width: 350px;
        }
    }
}

@media #{$sr-576} {
    .billboard {
        &__buttons {
            padding-bottom: 1.5rem;
            flex-direction: column;
            .btn {
                &:first-child {
                    margin-right: 0;
                    margin-bottom: 0.6rem;
                }
            }
        }
        &__title {
            font-size: 1.5rem;
            line-height: 1.6rem;
            padding-top: 1.4rem;
            padding-bottom: 1.4rem;
        }
        &__description {
            padding-top: 1rem;
            padding-bottom: 1.4rem;
            font-size: 0.9rem;
            line-height: 1.4rem;
        }
        &__card {
            display: block;
            max-width: 100%;
        }
    }
}