.bonuses {
    position: relative;
    background-color: white;
    padding-top: 90px;
    padding-bottom: 85px;
    width: 100%;
    .container {
        position: relative;
        z-index: 2;
    }
    &__pagination {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 60px;
        .swiper-pagination-bullet {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            transition-duration: 0.3s;
            margin-right: 10px;
            background-color: white;
            opacity: 1;
            outline: none;
            &:last-child {
                margin-right: 0;
            }
            &:after {
                content: '';
                display: block;
                width: 8px;
                height: 8px;
                background-color: $grey-lightest;
                border-radius: 50%;
                transition-duration: 0.8s;
            }
        }
        .swiper-pagination-bullet-active {
            background-color: $yellow-light;
            opacity: 0.5;
            &:after {
                background-color: white;
            }
        }
    }
    &__information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__description {
        max-width: 440px;
        color: $white-light;
        font-family: $ubuntu;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        padding-bottom: 5px;
        text-align: center;
    }
}

.bonuses-slider {
    padding-top: 10px;
    padding-bottom: 80px;
    .swiper-slide {
        height: auto;
        min-height: 100%;
    }
}

.bonuses-art {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    &__line-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/line-left.png');
        background-repeat: repeat-y;
        background-position-x: left;
    }
    &__line-right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/line-right.png');
        background-repeat: repeat-y;
        background-position-x: right;
    }
}

.bonuses-item {
    border: 1px solid $grey-lightest;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: white;
    &__frame {
        width: 100%;
        height: 350px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
    &__name {
        display: block;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 10px;
        font-family: $ubuntu;
        font-size: 14px;
        color: $white-light;
        font-weight: 400;
    }
    &__count {
        font-family: $ubuntu;
        color: $black;
        font-size: 16px;
        font-weight: 400;
        &--bold {
            font-weight: 700;
        }
    }
}

@media #{$sr-1500} {
    .bonuses {
        padding-top: 60px;
        padding-bottom: 50px;
        &__pagination {
            padding-bottom: 40px;
        }
    }
    .bonuses-slider {
        padding-bottom: 70px;
    }
    .bonuses-item {
        padding: 20px;
        &__frame {
            height: 280px;
        }
        &__name {
            padding-top: 35px;
        }
    }
}

@media #{$sr-1200} {
    .bonuses-item {
        padding: 15px;
        &__frame {
            height: 240px;
        }
        &__name {
            padding-top: 25px;
        }
    }
}

@media #{$sr-992} {
    .bonuses {
        &__pagination {
            padding-bottom: 25px;
        }
    }
    .bonuses-slider {
        padding-top: 20px;
        padding-bottom: 50px;
    }
}

@media #{$sr-768} {
    .bonuses-art {
        display: none;
    }
    .bonuses {
        padding-top: 40px;
    }
    .bonuses-item {
        padding: 20px;
        &__frame {
            height: 260px;
        }
    }
    .bonuses-slider {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}

@media #{$sr-576} {
    .bonuses {
        &__description {
            padding-bottom: 10px;
        }
        &__pagination {
            justify-content: center;
        }
    }
}