.guest {
    position: relative;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 85px;
    .container {
        position: relative;
        z-index: 2;
    }
    &__content {
        padding-top: 60px;
        display: flex;
    }
    &__row {
        width: 50%;
    }
    &__set {
        width: fit-content;
        padding-top: 105px;
        .btn {
            margin-bottom: 35px;
        }
        .btn-conditions {
            display: block;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.guest-art {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    &__card {
        position: absolute;
        left: -10px;
        bottom: 0;
        z-index: 10;
        display: block;
        width: 866px;
        height: 447px;
        background-image: url('../img/guest-hand.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    &__bg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 7;
        display: block;
        background-image: url('../img/guest-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__line-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 8;
        background-image: url('../img/line-left.png');
        background-repeat: repeat-y;
        background-position-x: left;
    }
    &__line-right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 8;
        background-image: url('../img/line-right.png');
        background-repeat: repeat-y;
        background-position-x: right;
    }
}

.guest-item {
    display: flex;
    align-content: flex-start;
    &--left {
        padding-top: 70px;
        padding-left: 70px;
    }
    &--top {
        padding-top: 45px;
        padding-bottom: 100px;
    }
    &__image {
        display: block;
        min-width: 50px;
        width: 50px;
        height: 50px;
        background-color: $yellow-light;
        border-radius: 50%;
        padding: 12px;
        margin-right: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__number {
        display: block;
        width: 100%;
        color: $green-light;
        font-family: $ubuntu;
        font-size: 12px;
        font-weight: 400;
    }
    &__name {
        color: white;
        font-family: $ubuntu;
        font-size: 26px;
        line-height: 36px;
        font-weight: 400;
        &--yellow {
            color: $yellow-light;
        }
        &--green {
            color: $green;
        }
    }
}

@media #{$sr-1680} {
    .guest-art {
        &__card {
            left: -50px;
            bottom: 0;
            width: calc(866px - 50px);
            height: calc(447px - 50px);
        }
    }
}

@media #{$sr-1500} {
    .guest {
        &__set {
            padding-top: 90px;
            .btn {
                margin-bottom: 25px;
            }
        }
    }
    .guest-art {
        &__card {
            left: -130px;
            bottom: 30px;
            width: calc(866px - 70px);
            height: calc(447px - 70px);
        }
    }
    .guest-item {
        &--left {
            padding-top: 60px;
            padding-left: 60px;
        }
        &--top {
            padding-top: 35px;
            padding-bottom: 65px;
        }
        &__name {
            font-size: 24px;
        }
    }
}

@media #{$sr-1200} {
    .guest {
        padding-top: 45px;
        padding-bottom: 45px;
        &__set {
            padding-top: 70px;
            .btn {
                margin-bottom: 20px;
            }
        }
    }
    .guest-item {
        padding-left: 15px;
        padding-right: 15px;
        &--left {
            padding-top: 50px;
            padding-left: 15px;
        }
        &--top {
            padding-top: 0;
            padding-bottom: 50px;
        }
        &__name {
            font-size: 22px;
        }
    }
    .guest-art {
        &__card {
            left: -21vw;
            bottom: 10px;
            width: calc(866px - 100px);
            height: calc(447px - 100px);
        }
    }
}

@media #{$sr-992} {
    .guest {
        &__content {
            display: block;
            padding-top: 40px;
        }
        &__row {
            width: 100%;
        }
        &__set {
            padding-top: 20px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .btn {
                margin-bottom: 0;
                margin-right: 25px;
            }
        }
    }
    .guest-art {
        &__card {
            display: none;
        }
    }
    .guest-item {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media #{$sr-992} {
    .guest {
        &__set {
            .btn {
                margin-right: 20px;
            }
        }
    }
}

@media #{$sr-768} {
    .guest-art {
        display: none;
    }
    .guest {
        padding-bottom: 40px;
        padding-top: 40px;
        &__set {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            .btn {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
    .guest-item {
        &__name {
            font-size: 20px;
            line-height: 28px;
        }
    }
}