.news {
    position: relative;
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    .container {
        position: relative;
        z-index: 2;
    }
    &__list {
        padding-top: 70px;
        padding-bottom: 25px;
        display: flex;
        flex-wrap: wrap;
    }
    &__btn {
        margin-left: auto;
        margin-right: auto;
    }
}

.news-item {
    width: calc(100% / 2 - 22.5px);
    margin-right: 45px;
    border-radius: 20px;
    border: 1px solid $grey-lightest;
    background-color: white;
    margin-bottom: 45px;
    &:nth-of-type(2n) {
        margin-right: 0;
    }
    &__frame {
        display: block;
        width: 100%;
        height: 232px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__body {
        padding: 30px 25px 45px;
    }
    &__date {
        color: $white-light;
        font-family: $ubuntu;
        font-size: 14px;
        display: block;
        padding-bottom: 10px;
    }
    &__name {
        font-family: $ubuntu;
        font-weight: 700;
        display: block;
        font-size: 21px;
        line-height: 31px;
        color: $black-lighten;
        padding-bottom: 15px;
    }
    &__description {
        font-family: $ubuntu;
        display: block;
        color: $white-light;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
}

.news-art {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    &__line-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/line-left.png');
        background-repeat: repeat-y;
        background-position-x: left;
    }
    &__line-right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/line-right.png');
        background-repeat: repeat-y;
        background-position-x: right;
    }
}

@media #{$sr-1500} {
    .news {
        padding-top: 60px;
        padding-bottom: 70px;
        &__list {
            padding-bottom: 50px;
            padding-top: 40px;
        }
    }
    .news-item {
        width: calc(100% / 2 - 10px);
        margin-right: 20px;
        margin-bottom: 20px;
        &__body {
            padding: 30px 20px;
        }
    }
}

@media #{$sr-992} {
    .news-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        &__body {
            padding: 30px 25px;
        }
    }
}

@media #{$sr-768} {
    .news-art {
        display: none;
    }
    .news {
        padding-top: 40px;
        padding-bottom: 50px;
        &__list {
            padding-bottom: 25px;
            padding-top: 30px;
        }
    }
}

@media #{$sr-576} {
    .news-item {
        &__body {
            padding: 15px;
        }
        &__name {
            padding-bottom: 10px;
        }
    }
}