.restaurant {
    position: relative;
    width: 100%;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 20px;
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    .container {
        position: relative;
        z-index: 2;
    }
}

.restaurant-art {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    &__line-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/line-left.png');
        background-repeat: repeat-y;
        background-position-x: left;
    }
    &__line-right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/line-right.png');
        background-repeat: repeat-y;
        background-position-x: right;
    }
}

.restaurant-navbar {
    padding-top: 20px;
    padding-bottom: 55px;
    display: flex;
    align-items: center;
    &__item {
        display: flex;
        align-items: center;
        &:last-child {
            &:after {
                display: none;
            }
        }
        &:after {
            content: '';
            display: block;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: $grey-lighten;
            margin: 0 15px;
        }
    }
    &__link {
        display: block;
        font-family: $ubuntu;
        font-weight: 400;
        color: $grey-light;
        font-size: 16px;
        transition-duration: 0.4s;
        &.active {
            color: $blue-darkest;
        }
    }
}

.card {
    width: 350px;
    margin-bottom: 33px;
    margin-right: 33px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid $grey-lightest;
    &:nth-of-type(4n) {
        margin-right: 0;
    }
    &.ractive {
        display: block;
    }
    &.rdisabled {
        display: none;
    }
    &__header {
        position: relative;
        width: 100%;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 1;
            background-image: linear-gradient(to top, #161a1e 0%, rgba(17, 20, 35, 0) 100%);
        }
    }
    &__image {
        width: 100%;
        height: 222px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    &__logotype {
        width: 70px;
        height: 70px;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__name {
        margin-top: auto;
        font-family: $ubuntu;
        color: white;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 2px;
    }
    &__caption {
        font-family: $ubuntu;
        color: $grey-light;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    &__body {
        padding: 20px;
    }
    &__item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 10px;
        &:last-child {
            padding-bottom: 0px;
        }
        &--row {
            flex-direction: row;
            .card__title {
                margin-right: 5px;
            }
        }
    }
    &__title {
        color: $white-darken;
        font-family: $ubuntu;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    &__value {
        position: relative;
        display: flex;
        align-items: center;
        color: $grey-darkest;
        font-family: $ubuntu;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        &--point-green {
            &:after {
                content: '';
                display: block;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                margin-left: 7px;
                background-color: #30ca72;
            }
        }
        &--point-red {
            &:after {
                content: '';
                display: block;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                margin-left: 7px;
                background-color: #fc4343;
            }
        }
    }
}

@media #{$sr-1500} {
    .card {
        width: 280px;
        margin-bottom: 16px;
        margin-right: 16px;
        &:nth-of-type(4n) {
            margin-right: 0px;
        }
    }
}

@media #{$sr-1200} {
    .card {
        width: 307px;
        margin-bottom: 20px;
        margin-right: 20px;
        &:nth-of-type(3n) {
            margin-right: 0px;
        }
        &:nth-of-type(4n) {
            margin-right: 20px;
        }
    }
}

@media #{$sr-992} {
    .card {
        width: 359px;
        margin-bottom: 20px;
        margin-right: 20px;
        &:nth-of-type(3n) {
            margin-right: 20px;
        }
        &:nth-of-type(4n) {
            margin-right: 20px;
        }
        &:nth-of-type(2n) {
            margin-right: 0px;
        }
    }
}

@media #{$sr-768} {
    .restaurant-art {
        display: none;
    }
    .restaurant {
        padding-top: 40px;
        padding-bottom: 25px;
    }
    .restaurant-navbar {
        padding-bottom: 20px;
        flex-direction: column;
        align-items: flex-start;
        &__item {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
            &:after {
                display: none;
            }
        }
        &__link {
            padding: 5px 0;
        }
    }
    .card {
        width: calc(100% / 2 - 7.5px);
        margin-bottom: 15px;
        margin-right: 15px;
        &:nth-of-type(3n) {
            margin-right: 15px;
        }
        &:nth-of-type(4n) {
            margin-right: 15px;
        }
        &:nth-of-type(2n) {
            margin-right: 0px;
        }
        &__content {
            padding: 15px 20px;
        }
        &__image {
            height: 190px;
        }
        &__body {
            padding: 15px 20px;
        }
        &__item {
            padding-bottom: 8px;
        }
    }
}

@media #{$sr-576} {
    .card {
        width: calc(100% / 2 - 5px);
        margin-bottom: 10px;
        margin-right: 10px;
        &:nth-of-type(3n) {
            margin-right: 10px;
        }
        &:nth-of-type(4n) {
            margin-right: 10px;
        }
        &:nth-of-type(2n) {
            margin-right: 0px;
        }
        &__body {
            padding: 15px;
        }
        &__content {
            padding: 15px;
        }
    }
}

@media #{$sr-480} {
    .card {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        &:nth-of-type(3n) {
            margin-right: 0;
        }
        &:nth-of-type(4n) {
            margin-right: 0;
        }
        &:nth-of-type(2n) {
            margin-right: 0px;
        }
        &__body {
            padding: 20px;
        }
        &__content {
            padding: 20px;
        }
        &__item {
            padding-bottom: 10px;
        }
    }
}