.video {
    width: 100%;
    min-height: 940px;
    iframe {
        width: 100%;
        min-height: 940px;
    }
}

@media #{$sr-1500} {
    .video {
        min-height: 800px;
        iframe {
            min-height: 800px;
        }
    }
}

@media #{$sr-1200} {
    .video {
        min-height: 600px;
        iframe {
            min-height: 600px;
        }
    }
}

@media #{$sr-992} {
    .video {
        min-height: 500px;
        iframe {
            min-height: 500px;
        }
    }
}

@media #{$sr-768} {
    .video {
        min-height: 400px;
        iframe {
            min-height: 400px;
        }
    }
}

@media #{$sr-576} {
    .video {
        min-height: 300px;
        iframe {
            min-height: 300px;
        }
    }
}