.works {
    background-color: #161a1e;
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    .container {
        position: relative;
        z-index: 10;
    }
    &__content {
        max-width: 450px;
    }
    &__title {
        color: $green-lighten;
        font-family: $ubuntu;
        font-size: 38px;
        font-weight: 400;
        display: block;
        padding-bottom: 35px;
    }
    &__description {
        color: white;
        font-family: $ubuntu;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 45px;
    }
    &__list {
        width: 100%;
        height: 360px;
        .simplebar-scrollbar {
            background-color: $yellow-light;
            width: 8px;
            right: 0;
            &:before {
                display: none;
            }
        }
        .simplebar-vertical {
            background-color: $black-light;
            width: 8px;
        }
    }
    &__scrollbar {
        width: 350px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 35px;
        padding-right: 18px;
        margin-bottom: 45px;
        border: 1px solid $black-light;
        border-radius: 20px;
        overflow: hidden;
        background-color: rgba(22, 26, 30, 0.95);
    }
    &__questions {
        display: block;
        color: $green-dark;
        font-size: 18px;
        font-family: $ubuntu;
        line-height: 34px;
        font-weight: 400;
        padding-bottom: 5px;
    }
    &__number {
        display: inline-block;
        font-family: $ubuntu;
        font-size: 24px;
        font-weight: 700;
        color: white;
        padding-bottom: 35px;
    }
    &__item {
        padding-bottom: 15px;
        &:last-child {
            padding-bottom: 0px;
        }
        &.active {
            .works__name {
                color: $yellow-light;
            }
        }
    }
    &__name {
        display: block;
        color: $green-dark;
        font-size: 22px;
        font-family: $ubuntu;
        line-height: 23px;
        padding-bottom: 5px;
    }
    &__caption {
        display: block;
        color: white;
        font-size: 14px;
        font-family: $ubuntu;
        line-height: 23px;
    }
    &__text {
        display: block;
        color: white;
        font-size: 14px;
        font-family: $ubuntu;
        line-height: 23px;
    }
    &__price {
        display: block;
        color: $green-dark;
        font-size: 14px;
        font-family: $ubuntu;
        line-height: 23px;
    }
}

.works-photo {
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &__frame {
        width: 964px;
        height: 880px;
        position: absolute;
        left: 35%;
        bottom: 0;
        display: block;
        &.hide {
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            transition-duration: 1s;
            transform: translateX(-200px);
        }
        &.active {
            z-index: 5;
            opacity: 1;
            transform: translateX(0px);
            animation-name: animate-works-hide;
            animation-duration: 1s;
            @keyframes animate-works-hide {
                0% {
                    opacity: 0;
                    transform: translateX(600px);
                }
                100% {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.works-art {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    &__line-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/line-left.png');
        background-repeat: repeat-y;
        background-position-x: left;
    }
    &__line-right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-image: url('../img/line-right.png');
        background-repeat: repeat-y;
        background-position-x: right;
    }
    &__background {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: block;
        background-image: url('../img/works-background.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
    }
}

@media #{$sr-1680} {
    .works-photo {
        &__frame {
            left: 32%;
        }
    }
}

@media #{$sr-1500} {
    .works {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .works-photo {
        &__frame {
            left: 35%;
            width: calc(964px - 100px);
            height: calc(880px - 100px);
        }
    }
}

@media #{$sr-1200} {
    .works-photo {
        &__frame {
            left: 38%;
            width: calc(964px - 200px);
            height: calc(880px - 200px);
        }
    }
}

@media #{$sr-992} {
    .works {
        &__scrollbar {
            background-color: rgba(22, 26, 30, 0.7);
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 15px;
            width: 300px;
        }
        &__list {
            height: 300px;
        }
    }
    .works-photo {
        &__frame {
            left: 25%;
        }
    }
}

@media #{$sr-768} {
    .works-photo {
        &__frame {
            left: auto;
            right: -30%;
            bottom: -40px;
        }
    }
}

@media #{$sr-768} {
    .works {
        &__content {
            max-width: 100%;
        }
        &__description {
            text-align: center;
        }
        &__scrollbar {
            width: 100%;
        }
        &__questions {
            text-align: center;
            line-height: 24px;
            padding-bottom: 15px;
        }
        &__number {
            display: block;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
        &__btn {
            margin-left: auto;
            margin-right: auto;
        }
        &__item {
            &.active {
                .works__name {
                    color: $green-dark;
                }
            }
        }
    }
    .works-art {
        display: none;
    }
    .works-photo {
        display: none;
    }
}