html, body {
    height: 100%;
}

body {
    font-family: $montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $blue-darkest;
    padding-top: 80px;
    &.modal--open {
        width: 100vw;
        height: 100vw;
        overflow: hidden;
    }
}

.header {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
}

.main {
    background-color: white;
}

.footer {
    flex: 0 0 auto;
}

.swiper-pagination-bullet {
    outline: none;
}

@media #{$sr-992} {
    body {
        padding-top: 60px;
    }
}