.container {
    max-width: 1530px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media #{$sr-1500} {
    .container {
        max-width: 1200px;
    }
}

@media #{$sr-1200} {
    .container {
        max-width: 992px;
    }
}

@media #{$sr-992} {
    .container {
        max-width: 768px;
    }
}

@media #{$sr-768} {
    .container {
        max-width: 576px;
    }
}

@media #{$sr-576} {
    .container {
        max-width: 100%;
    }
}