* { 
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:after,
    &:before {
        box-sizing: border-box;
    }
}

body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p, ul, label {
    margin: 0;
}

input, button, textarea { 
    outline: none;
    box-shadow: none;
}

input, textarea {
    border-radius: 0;
    box-shadow: none;
}

textarea {
    resize: none;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

dl, dd {
    margin: 0;
}