// @~ Media

$sr-1500: "screen and (max-width: 1529px)";
$sr-1680: "screen and (max-width: 1680px)";
$sr-1200: "screen and (max-width: 1199px)";
$sr-992: "screen and (max-width: 991px)";
$sr-768: "screen and (max-width: 767px)";
$sr-576: "screen and (max-width: 575px)";
$sr-480: "screen and (max-width: 480px)";
$sr-380: "screen and (max-width: 380px)";

$sr-min-992: "screen and (min-width: 992px)";

// @~ Colors: dark / darken / darkest ~ light / lighten / lightest

$white-dark: #f1f1f1;
$white-darken: #737688;
$white-light: #7a7a85;
$white-lightest: #7dc5cc;

$grey-lightest: #e8e8e8;
$grey-lighten: #b4b9d8;
$grey-light: #b1b1b9;
$grey-dark: #131627;
$grey-darken: #1d1d1b;
$grey-darkest: #1d2032;

$black-light: #263438;
$black-darkest: #0b0d13;
$black: #06070d;
$black-darken: #161a1e;
$black-lighten: #1d2032;
$black-lightest: #202428;

$pink-dark: #f52f7c;

$yellow-light: #fac808;
$yellow-lighten: #f8c708;

$blue-darkest: #161a1e;

$green-lighten: #79c5cb;
$green-light: #81c9cf;
$green: #28c26a;
$green-dark: #7cc6cc;

// @~ Fonts

$montserrat: 'Montserrat', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

// @~ z-indexes: Example: z-index: z('moda');

$z-indexes: (
    'modal': 1050,
    'header': 1000,
    'default': 1,
    'below': -1
);

@function z($layer) {
    @return map-get($z-indexes, $layer);
}

@function w($width, $window) {
    @return ($width * 100vw) / $window;
}